{#
 # Cart Page
 #
 #}
{% block content %}

	{#
	 # Hook: woocommerce_before_cart.
	 #
	 # @hooked UNI\Plugins\WooCommerce::output_all_notices - 10
	 # @hooked UNI\Plugins\WooCommerce::output_before_cart_wrapper - 15
	 #}
	{% do action( 'woocommerce_before_cart' ) %}

	<form class="Cart__form woocommerce-cart-form" action="{{ cart_url }}" method="post">

		{#
		 # Hook: woocommerce_before_cart_table
		 #
		 # @hooked UNI\Plugins\WooCommerce::before_cart_table - 10
		 #}
		{% do action( 'woocommerce_before_cart_table' ) %}

		<table class="Cart__form__contents shop_table shop_table_responsive cart woocommerce-cart-form__contents">

			<thead>
				<tr>
					{# <th class="product-remove">&nbsp;</th> #}
					<th class="product-thumbnail">{{- __( 'Products', 'uni' ) -}}</th>
					<th class="product-name">&nbsp;</th>
					<th class="product-price">{{- __( 'Price', 'uni' ) -}}</th>
					<th class="product-quantity">{{- __( 'Quantity', 'uni' ) -}}</th>
					<th class="product-subtotal">{{- __( 'Total', 'uni' ) -}}</th>
				</tr>
			</thead>

			<tbody>

				{#
				 # Hook: woocommerce_before_cart_contents.
				 #}
				{% do action( 'woocommerce_before_cart_contents' ) %}

				{% for product in products %}

					<tr class="Cart__form__item woocommerce-cart-form__cart-item {{ product.item_class }}">
						{# <td class="product-remove">{{- product.remove -}}</td> #}
						<td class="product-thumbnail">{{- product.thumbnail -}}</td>
						<td class="product-name" data-title="{{ __( 'Product', 'uni' ) }}">
							{{- product.name -}}
							{{- formatted_cart_item_data -}}
							{{- product.backorder -}}
						</td>
						<td class="product-price" data-title="{{ __( 'Price', 'uni' ) }}">{{- product.price -}}</td>
						<td class="product-quantity" data-title="{{ __( 'Quantity', 'uni' ) }}">{{- product.quantity -}}</td>
						<td class="product-subtotal" data-title="{{ __( 'Total', 'uni' ) }}">{{- product.subtotal -}}</td>
					</tr>

				{% endfor %}

				{#
				 # Hook: woocommerce_cart_contents.
				 #}
				{% do action( 'woocommerce_cart_contents' ) %}

				{% if coupons_enabled %}
					<tr>
						<td colspan="5" class="actions">
							<div class="Coupon coupon Input d-flex justify-content-end">
								{# <label for="coupon_code">{{- __( 'Coupon:', 'uni' ) -}}</label> #}
								<input type="text" name="coupon_code" class="input-text margin-right-2" id="coupon_code" value="" placeholder="{{ __( 'Coupon code', 'uni' ) }}" />
								<button type="submit" class="Button button" name="apply_coupon" value="{{ __( 'Apply coupon', 'uni' ) }}">
									{{- __( 'Apply coupon', 'uni' ) -}}
								</button>

								{#
								 # Hook: woocommerce_cart_coupon.
								 #}
								{% do action( 'woocommerce_cart_coupon' ) %}
							</div>
						</td>
					</tr>
				{% endif %}

			</tbody>

			<tfoot>

				<tr>
					<td colspan="5" class="actions text-align-md-right padding-top-2 padding-top-md-5">

						{#
						 # Hook: woocommerce_cart_actions.
						 #
						 # @hooked UNI\Plugins\WooCommerce::cart_actions - 10
						 #}
						{% do action( 'woocommerce_cart_actions' ) %}

						<button type="submit" class="Button button" name="update_cart" value="{{ __( 'Update cart', 'uni' ) }}">
							{{- __( 'Update cart', 'uni' ) -}}
						</button>

						{{ nonce_field }}

					</td>

				</tr>
			</tfoot>

			{#
			 # Hook: woocommerce_after_cart_contents.
			 #}
			{% do action( 'woocommerce_after_cart_contents' ) %}

		</table>

		{#
		 # Hook: woocommerce_after_cart_table.
		 #}
		{% do action( 'woocommerce_after_cart_table' ) %}

	</form>

	{#
	 # Cart collaterals hook.
	 #
	 # @hooked woocommerce_cross_sell_display
	 # @hooked woocommerce_cart_totals - 10
	 #}
	{% do action( 'woocommerce_before_cart_collaterals' ) %}

    <div class="Cart__collaterals cart-collaterals">
		{#
		 # Hook: woocommerce_cart_collaterals.
		 #
		 # @hooked woocommerce_cross_sell_display
		 # @hooked woocommerce_cart_totals - 10
		 #}
        {% do action( 'woocommerce_cart_collaterals' ) %}
    </div>

	{#
	 # Hook: woocommerce_after_cart.
	 #
	 # @hooked UNI\Plugins\WooCommerce::output_after_cart_wrapper - 10
	 #}
    {% do action( 'woocommerce_after_cart' ) %}


{% endblock %}
