{#
 # Cart totals
 #
 #}
<div class="cart_totals {{ customer.has_calculated_shipping() ? 'calculated_shipping' }}">
	{#
	 # Hook: woocommerce_before_cart_totals.
	 #}
	{% do action( 'woocommerce_before_cart_totals' ) %}

	{{- include( 'partials/page-title.html.twig', { title: __( 'Cart totals', 'uni' ), classes: [ 'text-center', 'text-md-start' ] } ) -}}

	<div class="my-20px shop_table shop_table_responsive">

		<div class="flex cart-subtotal flex-wrap">
			<div class="w-50 fw-bold">
				{{- __( 'Subtotal', 'uni' ) -}}
			</div>
			<div class="w-50 text-end" data-title="{{ __( 'Subtotal', 'uni' ) }}">
				{{- html.subtotal -}}
			</div>
			<div class="w-100 mt-12px"><hr class="bg-gray-very-dark"></div>
		</div>



		{% for code, coupon in cart.get_coupons() %}
			<div class="cart-discount coupon-{{ code | sanitize }}">
				<th>{{- fn( 'wc_cart_totals_coupon_label', coupon ) -}}</th>
				<td data-title="{{ fn( 'wc_cart_totals_coupon_label', coupon, false ) }}">
					{{- fn( 'wc_cart_totals_coupon_html', coupon ) -}}
				</td>
			</div>
		{% endfor %}


		{% if cart.needs_shipping() and cart.show_shipping() %}
			{#
			 # Hook: woocommerce_cart_totals_before_shipping.
			 #}
			{% do action( 'woocommerce_cart_totals_before_shipping' ) %}


			{{- html.shipping -}}

			{#
			 # Hook: woocommerce_cart_totals_after_shipping.
			 #}
			{% do action( 'woocommerce_cart_totals_after_shipping' ) %}

		{% elseif needs_shipping and 'yes' == enable_shipping_calc %}

			<div class="shipping">
				<div>{{- __( 'Shipping', 'uni' ) -}}</div>
				<div data-title="{{ __( 'Shipping', 'uni' ) }}">
					{{- shipping_calculator -}}
				</div>
			</div>

		{% endif %}

		{% for fee in cart.get_fees() %}
			<tr class="fee">
				<th>{{- fee.name -}}</th>
				<td data-title="{{ fee.name }}">
					{{- fn( 'wc_cart_totals_fee_html', fee ) -}}
				</td>
			</tr>
		{% endfor %}

		{% if tax_enabled and not cart.display_prices_including_tax() %}
			{% if 'itemized' == tax_total_display %}
				{% for code, tax in cart.get_tax_totals() %}
					<tr class="tax-rate tax-rate-{{ code | sanitize }}">
						<th>
							{{- tax.label }}&nbsp;
							{% if customer.is_customer_outside_base() and not customer.has_calculated_shipping() %}
								{# translators: %s location. #}
								{% apply format( countries.estimated_for_prefix( customer.get_taxable_address()[0] ) ~ countries.countries[ customer.get_taxable_address()[0] ] ) %}
									<small>{{- __( '(estimated for %s)', 'uni' ) -}}</small>
								{% endapply %}
							{% endif %}
						</th>
						<td data-title="{{ tax.label }}">{{- tax.formatted_amount -}}</td>
					</tr>
				{% endfor %}
			{% else %}
				<div class="flex flex-wrap tax-total mt-20px">
					<div class="w-50 fw-bold">
						{{- countries.tax_or_vat() }}
						{%- if customer.is_customer_outside_base() and not customer.has_calculated_shipping() -%}
							&nbsp;
							{# translators: %s location. #}
							{%- apply format( countries.estimated_for_prefix( customer.get_taxable_address()[0] ) ~ countries.countries[ customer.get_taxable_address()[0] ] ) -%}
								<small>{{- __( '(estimated for %s)', 'uni' ) -}}</small>
							{%- endapply -%}
						{%- endif -%}
					</div>
					<div class="w-50 flex justify-content-end" data-title="{{ countries.tax_or_vat() }}">
						{{- html.taxes_total -}}
					</div>
					<div class="w-100 mt-12px"><hr class="bg-gray-very-dark"></div>
				</div>
			{% endif %}
		{% endif %}

		<div class="order-total flex mt-20px">
			<div class="w-50 fw-bold">{{- __( 'Total', 'uni' ) -}}</div>
			<div class="w-50 flex justify-content-end" data-title="{{ __( 'Total', 'uni' ) }}">
				{{- html.order_total -}}
			</div>
		</div>

		{#
		 # Hook: woocommerce_cart_totals_after_order_total.
		 #}
		{% do action( 'woocommerce_cart_totals_after_order_total' ) %}

	</div>

	<div class="wc-proceed-to-checkout text-md-end">
		{#
		 # Hook: woocommerce_proceed_to_checkout
		 #
		 # @hooked wc_get_pay_buttons - 10
		 # @hooked woocommerce_button_proceed_to_checkout - 20
		 #}
		{% do action( 'woocommerce_proceed_to_checkout' ) %}
	</div>

	{#
	 # Hook: woocommerce_after_cart_totals.
	 #}
	{% do action( 'woocommerce_after_cart_totals' ) %}
</div>
