{#
 # Cart Page
 #
 #}

{% block content %}

	{#
	 # Hook: woocommerce_before_cart.
	 #
	 # @hooked UNI\Plugins\WooCommerce::output_all_notices - 10
	 # @hooked UNI\Plugins\WooCommerce::output_before_cart_wrapper - 15
	 #}
	{% do action( 'woocommerce_before_cart' ) %}

	<form class="border-spacing-0 text-break w-md-60 border-end-md py-md-250vh ps-md-200vw pe-md-100vw woocommerce-cart-form" action="{{ cart_url | e }}" method="post">

		{#
		 # Hook: woocommerce_before_cart_table
		 #
		 # @hooked UNI\Plugins\WooCommerce::before_cart_table - 10
		 #}
		{% do action( 'woocommerce_before_cart_table' ) %}

		<table class="border-spacing-0 text-break w-100 shop_table shop_table_responsive cart woocommerce-cart-form__contents">

			<thead>
				<tr>
					<th class="font-bold pb-12px product-thumbnail hidden md-table-cell w-20 text-start border-bottom">&nbsp;</th>
					<th class="font-bold pb-12px product-name w-40 w-md-20 text-start border-bottom">
						<span class="md-hidden">{{- __( 'Name', 'uni' ) -}}</span>&nbsp;
					</th>
					<th class="font-bold pb-12px product-price text-start w-20 border-bottom">{{- __( 'Price', 'uni' ) -}}</th>
					<th class="font-bold pb-12px product-quantity w-20 text-end border-bottom">{{- __( 'Quantity', 'uni' ) -}}</th>
					<th class="font-bold pb-12px product-subtotal text-end w-20 border-bottom">{{- __( 'Total', 'uni' ) -}}</th>
				</tr>
			</thead>

			<tbody>

				{#
				 # Hook: woocommerce_before_cart_contents.
				 #}
				{% do action( 'woocommerce_before_cart_contents' ) %}

				{% for product in products %}

					<tr class="woocommerce-cart-form__cart-item {{ product.item_class }}">
						<td class="py-12px text-xs pe-20px product-thumbnail hidden md-table-cell border-bottom">
							{{- product.url ? '<a class="block" href="%s">' | format( product.url ) -}}
							{{- include( 'partials/image.html.twig', { classes: [ 'bg-gray-100', 'h-128vh', 'w-100', 'object-fit-contain', 'object-position-center', 'rounded', 'block' ], size: 'size-300', image: product.image_id } ) -}}
							{{- product.url ? '</a>' -}}
						</td>
						<td class="border-bottom py-12px product-name text-xs w-40 w-md-20 ff-title italic" data-title="{{ __( 'Product', 'uni' ) }}">
							{{- product.name -}}
							{{- formatted_cart_item_data -}}
							{{- product.backorder -}}
						</td>
						<td class="border-bottom py-12px product-price text-xs text-start w-20" data-title="{{ __( 'Price', 'uni' ) }}">{{- product.price -}}</td>
						<td class="border-bottom py-12px product-quantity text-xs w-20" data-title="{{ __( 'Quantity', 'uni' ) }}">
							{{- product.quantity -}}
						</td>
						<td class="border-bottom py-12px product-subtotal text-xs text-end w-20" data-title="{{ __( 'Total', 'uni' ) }}">{{- product.subtotal -}}</td>
					</tr>

				{% endfor %}

				{#
				 # Hook: woocommerce_cart_contents.
				 #}
				{% do action( 'woocommerce_cart_contents' ) %}

				{% if coupons_enabled %}
					<tr>
						<td colspan="5" class="actions">
							{{- include( 'components/input-coupon.html.twig', { classes: [ 'my-20px' ] } ) -}}
							{#
							 # Hook: woocommerce_cart_coupon.
							 #}
							{% do action( 'woocommerce_cart_coupon' ) %}
						</td>
					</tr>
				{% endif %}

			</tbody>

			<tfoot>

				<tr>
					<td colspan="5" class="actions">

						<div class="mt-20px mt-md-0 text-md-right">
							{#
							# Hook: woocommerce_cart_actions.
							#
							# @hooked UNI\Plugins\WooCommerce::cart_actions - 10
							#}
							{% do action( 'woocommerce_cart_actions' ) %}

							{{- nonce_field -}}
						</div>

					</td>

				</tr>
			</tfoot>

			{#
			 # Hook: woocommerce_after_cart_contents.
			 #}
			{% do action( 'woocommerce_after_cart_contents' ) %}

		</table>

		{#
		 # Hook: woocommerce_after_cart_table.
		 #}
		{% do action( 'woocommerce_after_cart_table' ) %}

	</form>

	{#
	 # Cart collaterals hook.
	 #
	 # @hooked woocommerce_cross_sell_display
	 # @hooked woocommerce_cart_totals - 10
	 #}
	{% do action( 'woocommerce_before_cart_collaterals' ) %}

    <div class="my-20px m-md-0 pe-md-200vw ps-md-100vw py-md-250vh w-md-40 cart-collaterals">
		{#
		 # Hook: woocommerce_cart_collaterals.
		 #
		 # @hooked woocommerce_cross_sell_display
		 # @hooked woocommerce_cart_totals - 10
		 #}
        {% do action( 'woocommerce_cart_collaterals' ) %}
    </div>

	{#
	 # Hook: woocommerce_after_cart.
	 #
	 # @hooked UNI\Plugins\WooCommerce::output_after_cart_wrapper - 10
	 #}
    {% do action( 'woocommerce_after_cart' ) %}


{% endblock %}
