{#
 # Cart totals
 #
 #}
<div class="cart_totals{{ customer.has_calculated_shipping() ? ' calculated_shipping' }}">
	{#
	 # Hook: woocommerce_before_cart_totals.
	 #}
	{% do action( 'woocommerce_before_cart_totals' ) %}

	<h2 class="h1 margin-top-0 font-style-normal">
		{{- __( 'Cart totals', 'uni' ) -}}
	</h2>

	<table class="Shop-table shop_table shop_table_responsive">

		<tbody>
			<tr class="cart-subtotal">
				<th>{{- __( 'Subtotal', 'uni' ) -}}</th>
				<td data-title="{{ __( 'Subtotal', 'uni' ) }}">
					{{- html.subtotal -}}
				</td>
			</tr>

			{% for code, coupon in cart.get_coupons() %}
				<tr class="cart-discount coupon-{{ fn( 'sanitize_title', code ) }}">
					<th>{{- fn( 'wc_cart_totals_coupon_label', coupon ) -}}</th>
					<td data-title="{{ fn( 'wc_cart_totals_coupon_label', coupon, false ) }}">
						{{- fn( 'wc_cart_totals_coupon_html', coupon ) -}}
					</td>
				</tr>
			{% endfor %}


			{% if cart.needs_shipping() and cart.show_shipping() %}
				{#
				# Hook: woocommerce_cart_totals_before_shipping.
				#}
				{% do action( 'woocommerce_cart_totals_before_shipping' ) %}

				{{- html.shipping -}}

				{#
				# Hook: woocommerce_cart_totals_after_shipping.
				#}
				{% do action( 'woocommerce_cart_totals_after_shipping' ) %}

			{% elseif needs_shipping and 'yes' == enable_shipping_calc %}

				<tr class="shipping">
					<th>{{- __( 'Shipping', 'uni' ) -}}</th>
					<td data-title="{{ __( 'Shipping', 'uni' ) }}">
						{{- shipping_calculator -}}
					</td>
				</tr>

			{% endif %}

			{% for fee in cart.get_fees() %}
				<tr class="fee">
					<th>{{- fee.name -}}</th>
					<td data-title="{{ fee.name }}">
						{{- fn( 'wc_cart_totals_fee_html', fee ) -}}
					</td>
				</tr>
			{% endfor %}

			{% if 'itemized' == tax_total_display %}
				{% for code, tax in cart.get_tax_totals() %}
					<tr class="tax-rate tax-rate-{{ fn( 'sanitize_title', code ) }}">
						<th>{{- tax.label ~ estimated_text -}}></th>
						<td data-title="{{ tax.label }}">{{- tax.formatted_amount -}}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr class="tax-total">
					<th>{{- tax_or_vat ~ estimated_text -}}</th>
					<td data-title="{{ tax_or_vat }}">
						{{- html.taxes_total -}}
					</td>
				</tr>
			{% endif %}
		</tbody>

		<tfoot>
			<tr class="order-total">
				<th>{{- __( 'Total', 'uni' ) -}}</th>
				<td data-title="{{ __( 'Total', 'uni' ) }}">
					{{- html.order_total -}}</td>
			</tr>

			{#
			# Hook: woocommerce_cart_totals_after_order_total.
			#}
			{% do action( 'woocommerce_cart_totals_after_order_total' ) %}
		</tfoot>

	</table>

	<div class="wc-proceed-to-checkout text-align-right margin-top-5">
		{#
		 # Hook: woocommerce_proceed_to_checkout
		 #
		 # @hooked wc_get_pay_buttons - 10
		 # @hooked woocommerce_button_proceed_to_checkout - 20
		 #}
		{% do action( 'woocommerce_proceed_to_checkout' ) %}
	</div>

	{#
	 # Hook: woocommerce_after_cart_totals.
	 #}
	{% do action( 'woocommerce_after_cart_totals' ) %}
</div>
