{#
 # Shipping calculator
 #
 #}

{#
 # Hook: woocommerce_before_shipping_calculator.
 #}
{% do action( 'woocommerce_before_shipping_calculator' ) %}

{# TODO add class from function #}
<form class="woocommerce-shipping-calculator mt-20px" action="{{ cart_url | e }}" method="post">

	<p class="mb-20px">
		{{-
			include(
				'components/button.html.twig',
				{
					tag: 'a',
					label: button_text | default( __( 'Calculate shipping', 'uni' ) ),
					classes: [ 'w-100', 'd-block', 'shipping-calculator-button' ],
					attributes: {
						href: '#'
					}
				}
			)
		-}}
	</p>

	<section class="shipping-calculator-form" style="display:none;">

		{% if true | apply_filters( 'woocommerce_shipping_calculator_enable_country' ) %}
			<p class="form-row form-row-wide" id="calc_shipping_country_field">
				<select name="calc_shipping_country" id="calc_shipping_country" class="transition-box-shadow country_to_state country_select" rel="calc_shipping_state">
					<option value="">
						{{- __( 'Select a country / region&hellip;', 'uni' ) -}}
					</option>
					{% for key, value in countries %}
						<option value="{{ key }}" {{ fn( 'selected', shipping.country, key, false ) }}>{{- value -}}</option>';
					{% endfor %}
				</select>
			</p>
		{% endif %}

		{% if true | apply_filters( 'woocommerce_shipping_calculator_enable_state' ) %}
			<p class="form-row form-row-wide" id="calc_shipping_state_field">

				{% if states is iterable and states is empty %}
					<input
						type="hidden"
						name="calc_shipping_state"
						id="calc_shipping_state"
						class="outline-none-focus shadow-focus-focus w-100 rounded-5px transition-box-shadow"
						placeholder="{{ __( 'State / County', 'uni' ) }}"
					/>
				{% elseif states is iterable %}
					<span>
						<select name="calc_shipping_state" class="transition-box-shadow state_select" id="calc_shipping_state" data-placeholder="{{ __( 'State / County', 'uni' ) }}">
							<option value="">{{- __( 'Select an option&hellip;', 'woocommerce' ) -}}</option>
							{% for key, value in states %}
								<option value="{{ key }}" {{ fn( 'selected', shipping.state, key, false ) }}>{{- value -}}</option>
							{% endfor %}
						</select>
					</span>
				{% else %}
					<input
						type="text"
						class="transition-box-shadow input-text"
						value="{{ shipping.state }}"
						placeholder="{{ __( 'State / County', 'uni' ) }}"
						name="calc_shipping_state"
						id="calc_shipping_state"
					/>
				{% endif %}
			</p>
		{% endif %}

		{% if true | apply_filters( 'woocommerce_shipping_calculator_enable_city' ) %}
			<p class="form-row form-row-wide" id="calc_shipping_city_field">
				<input
					type="text"
					class="input-text border border-1 border-gray-very-dark shadow-focus-focus transition-box-shadow outline-none-focus p-12px w-100 rounded-5px d-block"
					value="{{ shipping.city }}"
					placeholder="{{ __( 'City', 'uni' ) }}"
					name="calc_shipping_city"
					id="calc_shipping_city"
				/>
			</p>
		{% endif %}

		{% if true | apply_filters( 'woocommerce_shipping_calculator_enable_postcode' ) %}
			<p class="form-row form-row-wide" id="calc_shipping_postcode_field">
				<input
					type="text"
					class="input-text border border-1 border-gray-very-dark shadow-focus-focus transition-box-shadow outline-none-focus p-12px w-100 rounded-5px d-block"
					value="{{ shipping.postcode }}"
					placeholder="{{ __( 'Postcode / ZIP', 'uni' ) }}"
					name="calc_shipping_postcode"
					id="calc_shipping_postcode"
				/>
			</p>
		{% endif %}

		<p class="m-0">
			{{-
				include(
					'components/button.html.twig',
					{
						type: 'submit',
						label: __( 'Update', 'uni' ),
						classes: [ 'w-100', 'button' ],
						attributes: {
							name: 'calc_shipping',
							value: '1'
						}
					}
				)
			-}}
		</p>

		{{- nonce_field -}}

	</section>
</form>

{#
 # Hook: woocommerce_after_shipping_calculator.
 #}
{% do action( 'woocommerce_after_shipping_calculator' ) %}
