{#
 # Mailchimp signup form
 #
 #
 #
 #}

<form
	action="{{ mailchimp.url }}/subscribe/post?u={{ mailchimp.user }}&amp;id={{ mailchimp.id }}"
	method="post" id="mc-embedded-subscribe-form-{{ id }}"
	name="mc-embedded-subscribe-form"
	class="{{ [ 'Signup-form', 'validate', 'text-gray-very-dark' ] | merge( classes ? classes : [] ) | join( ' ' ) | trim }}"
	target="_blank"
>

	{% if label %}
		<label class="fs-2xs mb-12px mt-0 d-block ff-body" for="mce-EMAIL-{{ id }}">
			{{- label -}}
		</label>
	{% endif %}

    <div class="border border-1 border-gray-very-dark rounded-5px position-relative d-flex">
		<input type="text" name="FNAME" id="mce-FNAME-{{ id }}" value="test" class="d-none">
		<input type="text" name="LNAME" id="mce-LNAME-{{ id }}" value="test" class="d-none">
		<input type="text" name="MMERGE6" id="mce-MMERGE6-{{ id }}" value="test" class="d-none">
		<input type="text" name="MMERGE4" id="mce-MMERGE4-{{ id }}" value="test" class="d-none">

		<input
			type="email"
			name="EMAIL"
			id="mce-EMAIL-{{ id }}"
			value=""
			placeholder="{{ placeholder | default( __( 'Your email', 'uni' ) ) }}"
			title="{{ __( 'The domain portion of the email address is invalid (the portion after the @).', 'uni' ) }}"
			pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
			required
			class="rounded-5px-0-0-5px p-12px shadow-uni-focus border-gray-very-dark w-2/3"
		>
		<input
			type="submit"
			value="{{ __( 'Send', 'uni' ) }}"
			name="subscribe"
			id="mc-embedded-subscribe"
			class="button rounded-0-5px-5px-0 p-12px border-start w-1/3 outline-none-focus shadow-uni-focus border-gray-very-dark"
		>
		<div class="mc-status"></div>
	</div>
   <div style="position: absolute; left: -5000px;" aria-hidden="true">
		<input type="text" name="b_{{ mailchimp.user }}_{{ mailchimp.id }}" tabindex="-1" value="">
	</div>
</form>
