{#
 # Button: Menu
 #
 # @package UNI
 #}

 {% set id = random() %}

<style>
#button-menu-{{ id }} svg.bars {
	display: block;
}

#button-menu-{{ id }} svg.times {
	display: none;
}

.menu--is-open #button-menu-{{ id }} svg.bars {
	display: none;
}

.menu--is-open #button-menu-{{ id }} svg.times {
	display: block;
}
</style>

<button
	id="button-menu-{{ id }}"
	class="size-20px relative z-2"
	type="button"
	data-module-panel-button
	data-panel-button-id="menu"
	aria-label="{{ __( 'Menu', 'uni' ) }}"
>
	{{- include( 'svg/use.html.twig', { icon: 'bars', classes: [ 'absolute', 'inset-0', 'size-100', 'pe-none' ] }, with_context = false ) -}}
	{{- include( 'svg/use.html.twig', { icon: 'times', classes: [ 'absolute', 'inset-0', 'size-100', 'pe-none' ] }, with_context = false ) -}}
</button>
