{#
 # Footer Horizontal
 #
 # @package UNI
 #}

{% import 'macros/footer.twig' as footer %}

<footer class="my-md-20px text-gray-very-dark bg-white {{ classes ? classes | join( ' ' ) }}">
	<div class="{{
		[
			'me-md-20px',
			'shadow-uni',
			'rounded',
			'p-20px',
			'px-md-200vw',
			'py-md-60vh',
			'w-md-1000vw',
			'flex',
			'flex-md-column',
			'flex-row',
			'h-md-100'
		] | join( ' ' )
	}}">
		<div class="flex">
			<div class="w-50">
				{{- footer.list( menus.footer_primary.items, __( 'Navigation', 'uni' ) ) -}}
			</div>
			<div class="w-50">
				{{- footer.list( menus.footer_secondary.items, __( 'Information', 'uni' ) ) -}}
			</div>
		</div>
		<div class="mt-20px mt-md-40px">
			{{- footer.list( menus.footer_tertiary.items, __( 'Downloads', 'uni' ) ) -}}
		</div>
		<div class="pt-md-40px mt-20px mt-md-auto">
			{{- include( 'partials/socials.html.twig', { label: __( 'Follow us', 'uni' ) } ) -}}
		</div>
		<div class="mt-20px mt-md-40px">
			{{- include( 'partials/signup-form.html.twig', { label: __( 'Newsletter subscriptions', 'uni' ), id: post.id } ) -}}
		</div>
		<div class="mt-20px mt-md-40px">
			<ul class="list-style-type-none">
				<li class="mb-12px">
					<h5 class="ff-body m-0 text-2xs">{{- __( 'Credits:', 'uni' ) -}}</h5>
				</li>
				<li class="text-3xs">
					<a class="inline-block ff-title text-decoration-underline-hover text-decoration-underline-focus" href="http://www.atelierinconnu.com/" target="_blank" rel="noopener noreferer">
						Atelier Inconnu
						</a>&nbsp;&nbsp;&#x002D;&nbsp;&nbsp;<a class="text-decoration-underline-hover text-decoration-underline-focus" href="https://19h47.fr" target="_blank" rel="noopener noreferer">19h47</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
