{#  #}

{% macro menu( items, title ) %}
	{% if items is iterable %}
		<ul class="Site-footer__items" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<li class="Site-footer__item"><h5>{{- title -}}</h5></li>
			{% for item in items %}
				<li class="Site-footer__item{{ item.current ? ' is-active' }}"><a href="{{ item.url }}" itemprop="url"{{ item.target ? " target=\"#{item.target}\"" }}>{{- item.title -}}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

<footer class="Site-footer background-color-white">
	<div class="Site-footer__grid">
		<div>
			{{- _self.menu( menus.footer_primary.items, __( 'Navigation', 'uni' ) ) -}}
		</div>
		<div>
			{{- _self.menu( menus.footer_secondary.items, __( 'Information', 'uni' ) ) -}}
		</div>
		<div>
			{{- _self.menu( menus.footer_tertiary.items, __( 'Downloads', 'uni' ) ) -}}
		</div>
		<div>
			{% if socials is iterable %}
				<ul class="Site-footer__items">
					<li class="Site-footer__item"><h5>{{- __( 'Follow us', 'uni' ) -}}</h5></li>
					{%- for social in socials -%}
						<li class="Site-footer__item"><a href="{{ social.url }}">{{- social.title -}}</a></li>
					{%- endfor -%}
				</ul>
			{% endif %}
		</div>
		<div>{% include 'partials/signup-form.html.twig' with { id: post.id } only %}</div>
		<div>
			<div class="Site-footer__copyright">
				<h5>{{- __( 'Credits:', 'uni' ) -}}</h5>
				<p class="font-family-title"><a href="http://www.atelierinconnu.com/" target="_blank" rel="noopener">Atelier Inconu</a>  -  <a href="https://19h47.fr" target="_blank" rel="noopener">19h47</a></p>
			</div>
		</div>
	</div>
</footer>
