{% import 'macros/footer.twig' as footer %}

<footer class="Site-footer-vertical">
	<div>
		{% if menus.footer_primary.items %}
			{{- footer.list( menus.footer_primary.items, __( 'Navigation', 'uni' ) ) -}}
		{% endif %}
	</div>
	<div>
		{{- footer.list( menus.footer_secondary.items, __( 'Information', 'uni' ) ) -}}
	</div>
	<div>
		{{- include( 'partials/socials.html.twig', { label: __( 'Follow us', 'uni' ) } ) -}}
	</div>
	<div>
		{{- footer.list( menus.footer_tertiary.items, __( 'Downloads', 'uni' ) ) -}}
	</div>
	<div>
		<ul class="list-style-type-none">
			<li class="Site-footer__item">
				<h5 class="ff-body my-0">{{- __( 'Credits:', 'uni' ) -}}</h5>
			</li>
			<li class="Site-footer__item">
				<a class="d-inline-block ff-title" href="http://www.atelierinconnu.com/" target="_blank" rel="noopener noreferer">Atelier Inconu</a>
			</li>
			<li class="Site-footer__item">
				<a class="d-inline-block ff-title" href="https://19h47.fr" target="_blank" rel="noopener noreferer">19h47</a>
			</li>
		</ul>
	</div>
	<div>
		{{- include( 'partials/signup-form.html.twig', { label: __( 'Newsletter subscriptions', 'uni' ), id: post.id }, with_context = false ) -}}
	</div>
</footer>
