{#
 # Menu
 #
 # @package UNI
 #}

{% embed 'components/panel.html.twig' with { id: 'menu' } %}
	{% block content %}
		<div class="p-20px px-md-400vw py-md-120vh h-100">
			<div class="row h-100">
				<div class="col-md-12 mb-40px mb-md-0">
					<ul class="list-style-type-none" itemscope itemtype="http://schema.org/SiteNavigationElement">
						{% for item in menus.main_primary.items %}
							<li class="fs-xl fs-md-3xl {{ loop.first ? 'mb-20px mb-md-40px' : loop.last ? 'mt-20px mt-md-40px' : 'my-20px my-md-40px' }}">
								<a href="{{ item.url }}" class="h1 Menu__link{{ item.current ? ' is-active' }}" itemprop="url"{{ item.target ? " target=\"#{item.target}\"" }}>
									{{- item.title -}}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="columns-2 column-gap-2.5 columns-md-auto column-gap-md-normal mb-20px mb-md-0 col-md-2">
					<ul class="list-style-type-none" itemscope itemtype="http://schema.org/SiteNavigationElement">
						{% for item in menus.main_secondary.items %}
							<li class="{{ loop.first ? 'mb-20px' : loop.last ? 'mt-20px' : 'my-20px' }}">
								<a href="{{ item.url }}" class="Menu__link{{ item.current ? ' is-active' }}" itemprop="url"{{ item.target ? " target=\"#{item.target}\"" }}>{{- item.title -}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="mt-auto col-md-12 d-md-flex">
					{{- include( 'partials/socials.html.twig', { classes: [ 'me-md-3' ], label: __( 'Follow us', 'uni' ) } ) -}}
					{{- include( 'partials/signup-form.html.twig', { label: __( 'Newsletter subscriptions', 'uni' ), id: post.id, classes: [ 'mt-20px', 'mt-md-0', 'flex-fill' ] } ) -}}
				</div>
			</div>
		</div>
	{% endblock %}
{% endembed %}
