{#
 # Mini Cart
 #
 # @package UNI
 #}

<{{ ( cart.is_empty ? 'p' : "a href=\"#{cart_url}\"" ) | raw }} class="d-flex flex-column fs-xs js-total m-0 {{ classes ? classes | join( ' ' ) | trim }}">
	<span class="js-cart-contents-count lh-none ms-auto">({{- cart.get_cart_contents_count() -}})</span>
	{{- include( 'svg/use.html.twig', { classes: [ 'size-20px', 'mx-12px', 'd-block' ], icon: 'cart' }, with_context = false ) -}}
</{{ ( cart.is_empty ? 'p' : 'a' ) | raw }}>
