{#

Header

@author     Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
@file       views/header.html.twig
@package    PRH

#}

<!DOCTYPE html>
<!--[if IE 9]>
<html {{ html_class( 'ie9 no-js no-touch' ) }} {{ site.language_attributes }}>
<![endif]-->
<!--[if !(IE 9)]><!-->
<html {{ site.language_attributes }} {{ html_class( 'no-js no-touch' ) }}>
<!--<![endif]-->

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">

		{{ wp_head }}

		{# {% include 'components/gtag.html.twig' with { id: 'UA-153672608-1' } %} #}

    </head>


    <body class="{{ body_class }}{{ post.body_classes ? ( ' ' ~ post.body_classes | join( ' ' ) ) }}">
		<div id="svg-sprite" class="d-none">{% include 'icons.svg' %}</div>

		<div class="Site-wrapper">
			<header class="Site-header">
				<div class="d-flex flex-row flex-md-column">
					<button class="Menu__button" type="button">
						{% include 'svg/use.html.twig' with { icon: 'bars' } only %}
					</button>
					{% include 'components/languages.html.twig' %}
				</div>

				<a class="Logo" href="{{ site.link }}">
					{% include 'svg/use.html.twig' with { icon: 'logo-vertical', classes: [ 'd-none', 'd-md-block' ] } only %}
					{% include 'svg/use.html.twig' with { icon: 'logo-horizontal', classes: [ 'd-md-none' ] } only %}
				</a>

				<{{ ( cart.is_empty ? 'p' : "a href=\"#{cart_url}\"" ) | raw }} class="Mini-cart" data-cart-count="{{ cart.get_cart_contents_count() }}">
					{% include 'svg/use.html.twig' with { icon: 'cart' } %}
				</{{ ( cart.is_empty ? 'p' : 'a' ) | raw }}>

			</header>

			<main class="Site-content">

				<div class="Menu">
					<div class="Menu__primary">
						<ul class="Menu__items">
							<li class="Menu__item"><h1>Philosophie</h1></li>
							<li class="Menu__item"><h1>Habitat</h1></li>
							<li class="Menu__item"><h1>Objets</h1></li>
						</ul>
					</div>
					<div class="Menu__secondary">
						<ul class="Menu__items">
							<li class="Menu__item">Archives</li>
							<li class="Menu__item">Boutique</li>
							<li class="Menu__item">À propos</li>
							<li class="Menu__item">PressKit</li>
							<li class="Menu__item">Livraison</li>
						</ul>
					</div>
					<div>Rencontrons nous : <span class="font-family-title font-style-italic">contact@uni-habitat.fr</span></div>
				</div>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, possimus quas provident molestiae nesciunt dolores suscipit unde eligendi, porro, fugiat modi deleniti culpa placeat quo maiores dolorem natus dolor vero.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni itaque quas blanditiis, possimus animi, adipisci doloremque iure nulla voluptatum quo sint repellat maxime quis quisquam odit perspiciatis optio molestias provident.</p>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, est eum. Rem labore sint perferendis expedita nobis, eveniet quisquam veritatis sapiente, accusantium sunt amet totam possimus soluta, atque ipsum recusandae.</p>

			</main>

		</div>
