{#
 # Index
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @file views/index.html.twig
 # @package UNI
 #
 # @purgeCSS overflow-x-hidden body is-native-scroll y-scroll
 #}

{{- include( 'header.html.twig' ) -}}

<main
	id="{{ post.id ? "page-#{post.id}" : 'page' }}"
	class="flex flex-column flex-md-row flex-nowrap h-100"
	{{ post.modules ? post.modules | map( module => "data-module-#{ module }" ) | join( ' ' ) : '' }}
>

	{#
	 # woocommerce_before_main_content hook.
	 #}
	{% do action( 'woocommerce_before_main_content' ) %}

	{% block content %}
		<div class="mt-100px mx-20px mb-20px mt-md-200vh ms-md-100px relative w-md-100">

			<div class="mx-md-200vw mb-md-200vh mw-md-1200vw">
				{{-
					include(
						'partials/page-title.html.twig',
						{
							classes: [ 'text-center', 'text-md-start' ],
							title: post.title
						}
					)
				-}}
				<div class="Wysiwyg mt-20px">{{- post.content -}}</div>
			</div>

			{{- include( 'components/footer.html.twig', { classes: [ 'mt-20px' ] } ) -}}
		</div>
	{% endblock %}

	{#
	 # woocommerce_after_main_content hook.
	 #}
	{% do action( 'woocommerce_after_main_content' ) %}

</main>

{#
 # woocommerce_sidebar hook.
 #}
{% do action( 'woocommerce_sidebar' ) %}

{# Footer #}
{% include 'footer.html.twig' %}
