{#
 # Index
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @file views/index.html.twig
 # @package UNI
 #}

{{- include( 'header.html.twig' ) -}}

<main
	id="{{ post.id ? "page-#{post.id}" : 'page' }}"
	class="page-content Site-wrapper"
	{{ post.modules ? post.modules | map( module => "data-module-#{ module }" ) | join( ' ' ) : '' }}
>

	<header class="top-0 end-0 end-md-auto flex-row-reverse z-index-5 bottom-md-0 start-md-auto Site-header d-flex flex-md-column align-items-center justify-content-between position-fixed start-0">
		<div class="flex-row-reverse d-flex flex-md-column">
			<button
				class="Menu__button position-relative z-index-2"
				type="button"
				data-module-menu-button
				data-module-project-information-button
				data-project-information-button-action="close"
			>
				{{- include( 'svg/use.html.twig', { icon: 'bars', classes: [ 'pe-none' ] }, with_context = false ) -}}
			</button>
			{{- include( 'components/languages.html.twig' ) -}}
		</div>

		<a class="top-0 bottom-0 m-auto Logo position-absolute end-0 start-0 z-index-1" href="{{ site.link }}">
			{{- include( 'svg/use.html.twig', { icon: 'logo-vertical', classes: [ 'w-100', 'h-100', 'align-middle', 'd-none', 'd-md-block' ] }, with_context = false ) -}}
			{{- include( 'svg/use.html.twig', { icon: 'logo-horizontal', classes: [ 'w-100', 'h-100', 'align-middle', 'd-md-none' ] }, with_context = false ) -}}
		</a>

		<{{ ( cart.is_empty ? 'p' : "a href=\"#{cart_url}\"" ) | raw }} class="mb-0 Mini-cart position-relative z-index-2 js-total">
			<span class="js-cart-contents-count position-absolute bottom-100 start-100 d-block">({{- cart.get_cart_contents_count() -}})</span>
			{{- include( 'svg/use.html.twig', { classes: [ 'd-block' ], icon: 'cart' }, with_context = false ) -}}
		</{{ ( cart.is_empty ? 'p' : 'a' ) | raw }}>

	</header>

	{{- include( 'components/menu.html.twig' ) -}}

	{#
	 # woocommerce_before_main_content hook.
	 #}
	{% do action( 'woocommerce_before_main_content' ) %}

	{% block content %}
		<div class="Site-content position-relative">
			<div class="Site-content__inner">
				<h1 class="margin-top-0">{{- post.title -}}</h1>
				<div class="Wysiwyg">{{- post.content -}}</div>
			</div>

			{% include 'components/footer-vertical.html.twig' %}
		</div>
	{% endblock %}

	{#
	 # woocommerce_after_main_content hook.
	 #}
	{% do action( 'woocommerce_after_main_content' ) %}

</main>

{#
 # woocommerce_sidebar hook.
 #}
{% do action( 'woocommerce_sidebar' ) %}

{# Footer #}
{% include 'footer.html.twig' %}
