{#
 # Index
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @file views/index.html.twig
 # @package UNI
 #
 # @purgeCSS overflow-x-hidden body is-native-scroll y-scroll
 #}

{{- include( 'header.html.twig' ) -}}

<main
	id="{{ post.id ? "page-#{post.id}" : 'page' }}"
	class="page-content d-flex flex-column flex-md-row flex-nowrap h-100"
	{{ post.modules ? post.modules | map( module => "data-module-#{ module }" ) | join( ' ' ) : '' }}
>

	<header
		class="{{ [
			'position-fixed',
			'd-flex',
			'flex-md-column',
			'align-items-center',
			'flex-row-reverse',
			'justify-content-between',
			'top-0',
			'end-0',
			'end-md-auto',
			'start-0',
			'bottom-md-0',
			'my-20px',
			'my-md-0',
			'mx-md-20px',
			'z-index-5',
			'start-md-auto',
			'px-20px',
			'px-md-0',
			'py-md-40px',
			'background-color-white',
			'h-60px',
			'h-md-100',
			'shadow-uni',
			'w-md-60px'
		] | join( ' ' ) | trim }}"
	>
		<div class="flex-row-reverse d-flex flex-md-column align-items-center">
			{{- include( 'components/button-menu.html.twig' ) -}}
			{{- include( 'components/languages.html.twig', { classes: [ 'mt-md-24px', 'me-20px', 'me-md-0' ] } ) -}}
		</div>

		{{- include( 'components/logo.html.twig' ) -}}
		{{- include( 'components/mini-cart.html.twig', { classes: [ 'z-index-2' ] } ) -}}

	</header>

	{{- include( 'components/menu.html.twig' ) -}}

	{#
	 # woocommerce_before_main_content hook.
	 #}
	{% do action( 'woocommerce_before_main_content' ) %}

	{% block content %}
		<div class="w-100 mt-100px mx-20px mb-20px mt-md-200vh ms-md-100px position-relative">

			<div class="mx-md-200vw mb-md-200vh mw-md-1200vw">
				<h1 class="mt-0 text-center text-md-start">{{- post.title -}}</h1>
				<div class="Wysiwyg">{{- post.content -}}</div>
			</div>

			{{- include( 'components/footer-vertical.html.twig' ) -}}
		</div>
	{% endblock %}

	{#
	 # woocommerce_after_main_content hook.
	 #}
	{% do action( 'woocommerce_after_main_content' ) %}

</main>

{#
 # woocommerce_sidebar hook.
 #}
{% do action( 'woocommerce_sidebar' ) %}

{# Footer #}
{% include 'footer.html.twig' %}
