{#

Simple product add to cart

#}

{# {{ stock_html }} #}

{% if is_in_stock %}

	{% do action( 'woocommerce_before_add_to_cart_form' ) %}

	<form id="add-to-cart-{{ id }}" class="cart page-block" action="{{ form_action }}" method="post" enctype="multipart/form-data" data-node-type="AddToCartBlock">
		{% do action( 'woocommerce_before_add_to_cart_button' ) %}
		{% do action( 'woocommerce_before_add_to_cart_quantity' ) %}

		{# {{ quantity_input }} #}

		{% do action( 'woocommerce_after_add_to_cart_quantity' ) %}

		<button type="submit" value="{{ id }}" class="Product__add-to-cart-button js-add-to-cart-button single_add_to_cart_button button alt test">
			{% include 'svg/use.html.twig' with { icon: 'cart', classes: [ 'Pointer-events-none' ] } only %}
			{{- text -}}
		</button>

		{% do action( 'woocommerce_after_add_to_cart_button' ) %}
	</form>

	{% do action( 'woocommerce_after_add_to_cart_form' ) %}

{% endif %}
