{#
 #
 # Simple product add to cart
 #
 #}

{# {{ stock_html }} #}

{% if is_in_stock and not upcoming %}

	{#
	 # Hook: woocommerce_before_add_to_cart_form.
	 #}
	{% do action( 'woocommerce_before_add_to_cart_form' ) %}

	<form
		id="add-to-cart-{{ id }}"
		class="cart"
		action="{{ form_action }}"
		method="post"
		enctype="multipart/form-data"
		data-module-add-to-cart
	>
		{#
		 # Hook: woocommerce_before_add_to_cart_button.
		 #}
		{% do action( 'woocommerce_before_add_to_cart_button' ) %}

		{#
		 # Hook: woocommerce_before_add_to_cart_quantity.
		 #}
		{% do action( 'woocommerce_before_add_to_cart_quantity' ) %}

		{# {{ quantity_input }} #}

		{#
		 # Hook: woocommerce_after_add_to_cart_quantity.
		 #}
		{% do action( 'woocommerce_after_add_to_cart_quantity' ) %}

		<button
			type="submit"
			value="{{ id }}"
			class="Product-add-to-cart-button d-flex flex-column align-items-center text-decoration-underline single_add_to_cart_button button alt"
			data-add-to-cart="button"
		>
			{{- text -}}
			{% include 'svg/use.html.twig' with { icon: 'cart', classes: [ 'pe-none' ] } only %}
		</button>

		{#
		 # Hook: woocommerce_after_add_to_cart_button.
		 #}
		{% do action( 'woocommerce_after_add_to_cart_button' ) %}
	</form>

	{#
	 # Hook: woocommerce_after_add_to_cart_form.
	 #}
	{% do action( 'woocommerce_after_add_to_cart_form' ) %}

{% endif %}
