{#
 # Variable
 #
 #}

{#
 # Hook: woocommerce_before_add_to_cart_form.
 #}
{% do action( 'woocommerce_before_add_to_cart_form' ) %}

<form class="variations_form cart" action="{{ form_action }}" method="post" enctype='multipart/form-data' data-product_id="{{ product.get_id() }}" data-product_variations="{{ variations_attr }}">
	{#
	 # Hook: woocommerce_before_variations_form.
	 #}
	{% do action( 'woocommerce_before_variations_form' ) %}

	{% if available_variations %}
		<ul class="letter-spacing-50 list-style-type-none variations" cellspacing="0">

			{% for attribute_name, options in attributes %}
				<li class="{{ loop.first ? 'mb-12px' : loop.last ? 'mt-12px' : 'my-12px' }} d-flex align-items-center">
					<div class="me-20px label">
						<label for="{{ attribute_name | sanitize }}">
							{{- fn ( 'wc_attribute_label', attribute_name ) -}}
						</label>
					</div>
					<div class="Product-variations__value value">
						<div class="Select position-relative">
							{{-
								fn( 'wc_dropdown_variation_attribute_options',
									{
										options: options,
										attribute: attribute_name,
										product: product,
										show_option_none: false,
									}
								)
							-}}
							{{- include( 'svg/use.html.twig', { classes: [ 'my-auto', 'd-block', 'position-absolute', 'top-0', 'end-0', 'bottom-0' ], icon: 'arrows' }, with_context = false ) -}}
						</div>
						{# {{- ( attribute_keys | last ) == attribute_name ? "<a class=\"reset_variations\" href=\"#\">#{ __( 'Clear', 'uni' ) }</a>" | apply_filters( 'woocommerce_reset_variations_link' )  }} #}
					</div>
				</li>
			{% endfor %}

		</ul>

		{% do action( 'woocommerce_after_variations_table' ) %}

		<div class="single_variation_wrap">
			{#
			 # Hook: woocommerce_before_single_variation.
			 #}
			{% do action( 'woocommerce_before_single_variation' ) %}

			{#
			 # Hook: woocommerce_single_variation. Used to output the cart button and placeholder for variation data.
			 #
			 # @hooked woocommerce_single_variation - 10 Empty div for variation data.
			 # @hooked woocommerce_single_variation_add_to_cart_button - 20 Qty and cart button.
			 #}
			{% do action( 'woocommerce_single_variation' ) %}

			{#
			 # Hook: woocommerce_after_single_variation.
			 #}
			{% do action( 'woocommerce_after_single_variation' ) %}
		</div>
	{% else %}
		<p class="stock out-of-stock">
			{% filter apply_filters( 'woocommerce_out_of_stock_message' ) %}
				{{- __( 'This product is currently out of stock and unavailable.', 'uni' ) -}}
			{% endfilter %}
		</p>
	{% endif %}

	{#
	 # Hook: woocommerce_after_variations_form.
	 #}
	{% do action( 'woocommerce_after_variations_form' ) %}
</form>

{#
 # Hook: woocommerce_after_add_to_cart_form.
 #}
{% do action( 'woocommerce_after_add_to_cart_form' ) %}
