{#  #}
{% block content %}

	{% do action( 'woocommerce_before_cart' ) %}

	<form class="woocommerce-cart-form margin-top-6" action="{{ action }}" method="post">

		{% do action( 'woocommerce_before_cart_table' ) %}

		<table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">

			<thead>
				<tr>
				<th class="product-remove">&nbsp;</th>
				<th class="product-thumbnail">&nbsp;</th>
				<th class="product-name">{{ pll__( 'Product' ) }}</th>
				<th class="product-price">{{ pll__( 'Price' ) }}</th>
				<th class="product-quantity">{{ pll__( 'Quantity' ) }}</th>
				<th class="product-subtotal">{{ pll__( 'Subtotal' ) }}</th>
			</tr>
			</thead>

			<tbody>

				{% do action( 'woocommerce_before_cart_contents' ) %}

				{% for product in products %}

					<tr class="woocommerce-cart-form__cart-item {{ product.item_class }}">
						<td class="product-remove">{{- product.remove -}}</td>
						<td class="product-thumbnail">{{- product.thumbnail -}}</td>
						<td class="product-name" data-title="{{ pll__( 'Product' ) }}">{{- product.name -}}</td>
						<td class="product-price" data-title="{{ pll__( 'Price' ) }}">{{- product.price -}}</td>
						<td class="product-quantity" data-title="{{ pll__( 'Quantity' ) }}">{{- product.quantity -}}</td>
						<td class="product-subtotal" data-title="{{ pll__( 'Subtotal' ) }}">{{- product.subtotal -}}</td>
					</tr>

				{% endfor %}

				{% do action( 'woocommerce_cart_contents' ) %}

				<tr>

					<td colspan="6" class="actions">

						{% if coupon %}
							<div class="coupon">
								<label for="coupon_code">{{- pll__( 'Coupon:' ) -}}</label>
								<input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="{{ pll__( 'Coupon code' ) }}" />
								<button type="submit" class="button" name="apply_coupon" value="{{ pll__( 'Apply coupon' ) }}">
									{{- pll__( 'Apply coupon' ) -}}
								</button>
								{% do action( 'woocommerce_cart_coupon' ) %}
							</div>
						{% endif %}

						<button type="submit" class="button" name="update_cart" value="{{ pll__( 'Update cart' ) }}">
							{{- pll__( 'Update cart' ) -}}
						</button>

						{% do action( 'woocommerce_cart_actions' ) %}

						{{ nonce }}

					</td>

				</tr>

				{% do action( 'woocommerce_after_cart_contents' ) %}

			</tbody>

		</table>

		{% do action( 'woocommerce_after_cart_table' ) %}

	</form>


	{% do action( 'woocommerce_before_cart_collaterals' ) %}

    <div class="cart-collaterals">
        {% do action( 'woocommerce_cart_collaterals' ) %}
    </div>

    {% do action( 'woocommerce_after_cart' ) %}


{% endblock %}
