{#
 # Product Gallery
 #
 # This template overridde woocommerce/single-product/product-image.php.
 #
 # @package WordPress
 # @subpackage UNI/Templates
 #}

{% if image_ids is iterable and image_ids is not empty %}
	<div
		id="product-image-{{ post_thumbnail_id }}"
		class="{{ wrapper_class }} page-block mb-md-0"
		data-columns="{{ columns }}"
		data-node-type="ProductGalleryBlock"
		style="opacity: 0; transition: opacity .25s ease-in-out;"
	>
		<div class="Product-gallery__grid h-100 d-grid Carousel">
			<div>
				<figure class="overflow-hidden w-100 h-100 woocommerce-product-gallery__wrapper js-wrapper">
					{% for id in image_ids %}
						<div
							data-thumb="{{ Image( id ).src }}"
							data-thumb-alt="{{ Image( id ).alt }}"
							class="w-100 h-100 js-cell"
						>
							{{- include( 'partials/image.html.twig', { image: id, classes: [ 'w-100', 'h-100', 'object-fit-scale-down', 'object-position-center' ] }, with_context = false ) -}}
						</div>
					{% endfor %}
				</figure>
			</div>
			<div class="Carousel__navigation d-flex justify-content-between align-items-center">
				<button class="js-previous d-flex align-items-center" type="button" aria-label="{{ __( 'Previous', 'uni' ) | e }}">
					{{- include( 'svg/use.html.twig', { icon: 'arrow-left', classes: [ 'w-100', 'h-100' ] } ) -}}
				</button>
				<div class="Carousel__current">
					<span class="js-current">01</span>&nbsp;/&nbsp;{{ "%02d" | format( image_ids | length ) }}
				</div>
				<button class="js-next d-flex align-items-center" type="button" aria-label="{{ __( 'Next', 'uni' ) | e }}">
					{{- include( 'svg/use.html.twig', { icon: 'arrow-right', classes: [ 'w-100', 'h-100' ] } ) -}}
				</button>
			</div>
		</div>
	</div>
{% endif %}
