{#
 # Product Image
 #
 # This template overridde woocommerce/single-product/product-image.php.
 #
 # @package WordPress
 # @subpackage UNI/Templates
 #}

{% if image_ids is iterable and image_ids is not empty %}
	<div id="product-image-{{ post_thumbnail_id }}" class="{{ wrapper_class }} page-block" data-columns="{{ columns }}" data-node-type="CarouselBlock" style="opacity: 0; transition: opacity .25s ease-in-out;">
		<div class="Product__gallery__grid Carousel">
			<div>
				<figure class="Carousel__items woocommerce-product-gallery__wrapper">
					{% for id in image_ids %}
						<div data-thumb="{{ Image( id ).src }}" data-thumb-alt="{{ Image( id ).alt }}" class="woocommerce-product-gallery__image">
							{% include 'partials/image.html.twig' with { image: id } only %}
						</div>
					{% endfor %}
				</figure>
			</div>
			<div class="Carousel__navigation">
				<button class="js-previous" type="button" aria-label="{{ __( 'Previous', 'uni' ) }}">{% include 'svg/use.html.twig' with { icon: 'arrow-left' } only %}</button>
				<div class="Carousel__current"><span class="js-current">01</span>&nbsp;/&nbsp;{{ "%02d" | format( image_ids | length ) }}</div>
				<button class="js-next" type="button" aria-label="{{ __( 'Next', 'uni' ) }}">{% include 'svg/use.html.twig' with { icon: 'arrow-right' } only %}</button>
			</div>
		</div>
	</div>
{% endif %}
