{#
 # Thumbnail
 #
 # @package UNI
 #}

<a
	class="Thumbnail h-360vh w-100 h-md-100 bg-gray-very-light-01 position-relative d-block"
	href="{{ product.link }}"
	data-product-content="link"
>

	{% if is_product and product.product_colors is not empty %}
		{%- for product_color in product.product_colors -%}
			{{-
				include(
					'partials/image.html.twig',
					{
						classes: [
							'object-position-center',
							'object-fit-contain',
							'w-100',
							'h-100',
							'position-absolute',
							'inset-0',
							'transition-opacity-visibility',
							'Thumbnail__image',
							'd-block',
							'z-index-1',
							product_color.current ? 'is-active'
						],
						attributes: {
							'data-color': product_color.color,
							'data-product-content': 'image'
						},
						image: product_color.thumbnail,
						size: 'size-600'
					}
				)
			-}}
			{{-
				include(
					'partials/image.html.twig',
					{
						classes: [
							'Thumbnail__overview',
							'transition-opacity-visibility',
							'position-absolute',
							'inset-0',
							'w-100',
							'h-100',
							'object-position-center',
							'object-fit-cover',
							'z-index-2',
							'd-block',
							product_color.current ? 'is-active' : null
						],
						attributes: {
							'data-color': product_color.color,
							'data-product-content': 'image'
						},
						image: product_color.hover,
						size: 'size-600'
					}
				)
			-}}
		{%- else -%}
			{{-
				include(
					'partials/image.html.twig',
					{
						classes: [
							'd-block',
							'Thumbnail__image',
							'transition-opacity-visibility',
							'inset-md-0',
							'position-md-absolute',
							'w-100',
							'h-100',
							'object-position-center',
							'object-fit-contain'
						],
						attributes: {
							'data-color': product.color,
							'data-product-content': 'image'
						},
						image: product.thumbnail,
						size: 'size-600'
					}
				)
			-}}
			{{-
				include(
					'partials/image.html.twig',
					{
						classes: [
							'd-block',
							'Thumbnail__overview',
							'transition-opacity-visibility',
							'position-absolute',
							'inset-0',
							'w-100',
							'h-100',
							'object-position-center',
							'object-fit-cover',
							'z-index-2'
						],
						attributes: {
							'data-color': product.color,
							'data-product-content': 'image'
						},
						image: product.meta( 'image_hover' ),
						size: 'size-600'
					}
				)
			-}}
		{%- endfor -%}
	{% else %}
		{{-
			include(
				'partials/image.html.twig',
				{
					classes: [
						'd-block',
						'Thumbnail__image',
						'transition-opacity-visibility',
						'z-index-1',
						'is-active',
						'w-100',
						'h-100',
						'object-position-center',
						'object-fit-contain',
					],
					image: product.thumbnail,
					attributes: {
						'data-product-content': 'image'
					},
					size: 'size-600'
				}
			)
		-}}
		{{-
			include(
				'partials/image.html.twig',
				{
					classes: [
						'd-block',
						'Thumbnail__overview',
						'transition-opacity-visibility',
						'position-absolute',
						'inset-0',
						'w-100',
						'h-100',
						'object-position-center',
						'object-fit-cover',
						'z-index-2',
						'is-active'
					],
					image: product.meta( 'image_hover' ),
					attributes: {
						'data-product-content': 'image'
					},
					size: 'size-600'
				}
			)
		-}}
	{% endif %}
</a>

