{#
 # About page
 #
 # @package UNI
 # @purgeCSS About-page column-1 column-2 column-3 column-4 column-5 column-6 column-7 column-8 column-9 column-10 column-11 column-12
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section position-md-fixed top-md-0 bottom-md-0 start-md-0 w-100 h-md-100" data-horizontal-page="section">
		<div class="Horizontal-page__track d-md-flex flex-md-nowrap top-md-0 bottom-md-0 start-md-0 position-md-absolute z-index-md-0 h-md-100" data-horizontal-page="track">

			<div class="Horizontal-page__wrapper" data-module-wrapper-page>

				<div class="Horizontal-page__content py-md-60vh pt-80px pb-20px d-md-flex flex-column position-relative">

					<div class="Page__content__title py-md-60vh z-index-md-1 position-md-absolute top-md-0 start-md-0 js-title">
						<h1 class="text-uppercase">{{- post.subtitle ? "<span>#{ post.subtitle }</span>" -}}{{- post.title -}}</h1>
					</div>

					<ul class="position-relative d-md-flex flex-md-nowrap list-style-type-none h-100 z-index-2">
						{% for item in post.meta( 'layouts' ) %}
							{% if 'text' == item.acf_fc_layout %}
								<li class="d-md-flex position-relative column-{{ item.columns }}">
									<div class="Wysiwyg">
										{{ item.text }}
									</div>
								</li>
							{% endif %}

							{% if 'image' == item.acf_fc_layout %}
								<li class="position-relative column-{{ item.columns }}">
									{{-
										include(
											'partials/image.html.twig',
											{
												classes: [ 'w-100', 'object-fit-cover', 'object-position-center', 'd-block' ],
												image: item.image,
											}
										)
									-}}
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>

			</div>

			{{- include( 'components/footer-horizontal.html.twig' ) -}}

		</div>
	</div>

{% endblock  %}
