{#
 # About page
 #
 # @package UNI
 # @purgeCSS column-1 column-2 column-3 column-4 column-5 column-6 column-7 column-8 column-9 column-10 column-11 column-12
 #}

{% extends 'pages/horizontal-page.html.twig' %}

{% block track %}
	<div class="d-md-flex flex-md-nowrap flex-md-shrink-0 mb-20px my-md-20px" data-module-wrapper-page>

		<div class="d-md-flex flex-md-column position-relative">

			{{-
				include(
					'partials/page-title.html.twig',
					{
						classes: [
							'mt-md-200vh',
							'text-center',
							'text-md-start',
							'mb-20px',
							'mb-md-0',
							'pt-md-0',
							'pb-md-60vh',
							'z-index-md-1', 'position-md-absolute', 'top-md-0', 'start-md-0', 'js-title',
							'ps-md-200vw',
							'w-md-1200vw'
						],
						subtitle: post.subtitle,
						title: post.title
					}
				)
			-}}

			<ul class="position-relative d-md-flex flex-md-nowrap list-style-type-none h-100 z-index-2">
				{% for item in post.meta( 'layouts' ) %}
					{% set classes = [
						'text' == item.acf_fc_layout ? 'd-md-flex' : '',
						'position-relative',
						'my-md-0',
						loop.first ? 'mb-20px' : ( loop.last ? 'mt-20px': 'my-20px' ),
						'mx-md-0',
						'column-' ~ item.columns,
						item.columns in [ 3, 5, 8, 10 ] ? '' : 'w-md-1200vw',
						3 == item.columns ? 'w-md-1000vw' : '',
						5 == item.columns ? 'ms-md-200vw w-md-800vw' : '',
						8 == item.columns ? 'ms-md-200vw w-md-1400vw' : '',
						10 == item.columns ? 'ms-md-200vw w-md-1800vw' : '',
						'image' == item.acf_fc_layout ? 'mx-n20px mx-md-0 my-md-n20px' : '',
					] | join( ' ' ) | trim %}

					{% if 'text' == item.acf_fc_layout %}
						<li class="{{ classes }}">
							<div class="Wysiwyg mt-md-350vw {{ loop.last ? 'me-md-200vw' : '' }} {{ loop.first ? 'ms-md-400vw' : 'ms-md-200vw' }}">
								{{ item.text }}
							</div>
						</li>
					{% endif %}

					{% if 'image' == item.acf_fc_layout %}
						<li class="{{ classes }}">
							{{-
								include(
									'partials/image.html.twig',
									{
										classes: [ loop.last ? 'me-md-200vw' : '', 'h-auto', 'h-md-100', 'w-100', 'object-fit-cover', 'object-position-center', 'd-block' ],
										image: item.image,
										size: 8 == item.columns ? 'size-1400' : ( 5 == item.columns ? 'size-800' : 'size-1720' )
									}
								)
							-}}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

	</div>
{% endblock  %}
