{#
 # About page
 #
 # @package UNI
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section position-md-fixed top-md-0 bottom-md-0 start-md-0 w-100 h-md-100 js-section">
		<div class="Horizontal-page__track d-md-flex flex-md-nowrap top-md-0 bottom-md-0 start-md-0 position-md-absolute z-index-md-0 h-md-100 js-track">

			<div class="Horizontal-page__wrapper js-wrapper">

				<div class="Horizontal-page__content d-md-flex flex-column position-relative">

					<div class="Page__content__title js-title">
						<h1 class="text-uppercase">{{- post.subtitle ? "<span>#{ post.subtitle }</span>" -}}{{- post.title -}}</h1>
					</div>

					<ul class="position-relative d-md-flex flex-md-nowrap list-style-type-none h-100 z-index-2">
						{% for item in post.meta( 'layouts' ) %}
							{% if 'text' == item.acf_fc_layout %}
								<li class="d-md-flex position-relative column-{{ item.columns }}">
									<div class="Wysiwyg">
										{{ item.text }}
									</div>
								</li>
							{% endif %}

							{% if 'image' == item.acf_fc_layout %}
								<li class="position-relative column-{{ item.columns }}">
									{{- include( 'partials/image.html.twig', { image: item.image, classes: [ 'align-middle', 'd-inline-block' ] } ) -}}
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>

			</div>

			{{- include( 'components/footer-horizontal.html.twig' ) -}}

		</div>
	</div>

{% endblock  %}
