{#
 # Archive product
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section position-md-fixed top-md-0 bottom-md-0 start-md-0 w-100 h-md-100 js-section">
		<div class="Horizontal-page__track d-md-flex flex-md-nowrap top-md-0 bottom-md-0 start-md-0 position-md-absolute z-index-md-0 h-md-100 js-track">

			<div class="Horizontal-page__wrapper">
				<header class="Archive-page__header woocommerce-products-header">
					<div class="Page__content__title woocommerce-products-header__title page-title">
						<h1 class="text-uppercase">
							{{- post.subtitle ? "<span>#{ post.subtitle }</span>" -}}
							{{- post.title -}}
						</h1>
					</div>

					<div class="Wysiwyg">
						{{- post.content -}}
					</div>

				</header>

				<ul class="Products">
					{% for item in post.meta( 'gallery' ) %}
						<li class="Loop">

							<{{- item.project[0] ? "a href=\"#{item.project[0].link}\"" | raw : 'div' | raw }} class="Product-thumbnail position-relative d-block">
								{% include 'partials/image.html.twig' with { classes: [ 'Product-thumbnail__image', 'z-index-1', 'is-active' ], image: item.image } %}
								{% include 'partials/image.html.twig' with { classes: [ 'Product-thumbnail__hover', 'position-absolute', 'top-0', 'end-0', 'bottom-0', 'start-0', 'object-position-center', 'object-fit-cover', 'z-index-2', 'is-active' ], image: item.image_hover } %}
							</{{-  item.project[0] ? 'a' : 'div' -}}>

							<header class="Loop__header">
								{% if item.project[0] %}
									<h3 class="{{ fn( 'apply_filters', 'woocommerce_product_loop_title_classes', 'Loop__product-title', 'woocommerce-loop-product__title' ) }}">
										{{- item.project[0].title -}}
									</h3>
								{% endif %}
							</header>

						</li>
					{% endfor %}
				</ul>
			</div>

			{% if post.meta( 'link' ).url %}
				{%
					include 'components/heading.html.twig'
					with {
						classes: [ 'color-gray-very-light-02', 'background-color-white' ],
						link: post.meta( 'link' ).url,
						title: post.meta( 'link' ).title
					}
					only
				%}
			{% endif %}

			{% include 'components/footer-horizontal.html.twig' %}

		</div>
	</div>
{% endblock %}
