{#
 # Archive product
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section position-md-fixed top-md-0 bottom-md-0 start-md-0 w-100 h-md-100" data-horizontal-page="section">
		<div class="Horizontal-page__track d-md-flex flex-md-nowrap top-md-0 bottom-md-0 start-md-0 position-md-absolute z-index-md-0 h-md-100" data-horizontal-page="track">

			<div class="Horizontal-page__wrapper">
				<header class="vh-100 h-md-100 pt-80px pb-20px min-h-100 Archive-page__header grid-template-columns-md-repeat-7-1fr grid-template-rows-md-repeat-11-1/11 grid-template-columns-repeat-10-1fr grid-template-rows-repeat-10-1fr grid-column-gap-0 grid-auto-rows-1fr grid-row-gap-0 d-grid z-index-100 py-md-60vh woocommerce-products-header">
					<div class="Page__content__title woocommerce-products-header__title page-title grid-area-1/1/3/11 grid-area-md-2/2/4/7">
						<h1 class="text-uppercase">
							{{- post.subtitle ? "<span>#{ post.subtitle }</span>" -}}
							{{- post.title -}}
						</h1>
					</div>

					<div class="Wysiwyg grid-area-3/1/9/11 grid-area-md-4/3/9/7">
						{{- post.content -}}
					</div>

				</header>

				{% if post.meta( 'gallery' ) %}
					{{- include( 'woocommerce/loop/loop-start.html.twig', { columns: loop_columns } ) -}}
						{% for item in post.meta( 'gallery' ) %}
							<li class="Loop d-md-flex">

								<{{- item.project[0] ? "a href=\"#{item.project[0].link}\"" | raw : 'div' | raw }} class="Thumbnail position-relative d-block" data-product-content="link">
									{{-
										include(
											'partials/image.html.twig',
											{
												classes: [
													'Thumbnail__image',
													'z-index-1',
													'is-active',
													'object-fit-cover',
													'w-100',
													'h-100',
													item.mobile.image ? 'd-none d-md-block' : 'd-block'
												],
												image: item.image,
												attributes: { 'data-product-content': 'image' },
												size: 'size-600'
											}
										)
									-}}
									{{-
										include(
											'partials/image.html.twig',
											{
												classes: [
													'Thumbnail__image',
													'z-index-1',
													'is-active',
													'object-fit-cover',
													'd-md-none',
													'w-100',
													'h-100',
												],
												image: item.mobile.image,
												attributes: { 'data-product-content': 'image' },
												size: 'size-600'
											}
										)
									-}}
									{{-
										include(
											'partials/image.html.twig',
											{
												classes: [
													'Thumbnail__overview',
													'position-absolute',
													'inset-0',
													'object-position-center',
													'object-fit-cover',
													'z-index-2',
													'is-active',
													'w-100',
													'h-100',
													item.mobile.overview ? 'd-none d-md-block' : 'd-block'
												],
												image: item.image_hover,
												attributes: { 'data-product-content': 'image' },
												size: 'size-600'
											}
										)
									-}}
									{{-
										include(
											'partials/image.html.twig',
											{
												classes: [
													'Thumbnail__overview',
													'd-md-none',
													'position-absolute',
													'inset-0',
													'object-position-center',
													'object-fit-cover',
													'z-index-2',
													'is-active',
													'w-100',
													'h-100',
												],
												image: item.mobile.overview,
												attributes: { 'data-product-content': 'image' },
												size: 'size-600'
											}
										)
									-}}
								</{{-  item.project[0] ? 'a' : 'div' -}}>

								<header class="Loop__header d-flex flex-md-row justify-content-between m-md-0 m-20px h-60px h-md-100">
									{% if item.project[0] %}
										<h3 class="{{ fn( 'apply_filters', 'woocommerce_product_loop_title_classes', 'Loop__product-title', 'fw-normal', 'fst-italic', 'woocommerce-loop-product__title' ) }}">
											{{- item.project[0].title -}}
										</h3>
									{% endif %}
								</header>

							</li>
						{% endfor %}
					{{- include( 'woocommerce/loop/loop-end.html.twig' ) -}}
				</div>
			{% endif %}

			{% if post.meta( 'link' ).url %}
				{%
					include 'components/heading.html.twig'
					with {
						classes: [ 'color-gray-very-light-02', 'background-color-white' ],
						link: post.meta( 'link' ).url,
						title: post.meta( 'link' ).title
					}
					only
				%}
			{% endif %}

			{% include 'components/footer-horizontal.html.twig' %}

		</div>
	</div>
{% endblock %}
