{#
 # Archive product
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section position-md-fixed top-md-0 bottom-md-0 start-md-0 w-100 h-md-100" data-horizontal-page="section">
		<div class="Horizontal-page__track d-md-flex flex-md-nowrap top-md-0 bottom-md-0 start-md-0 position-md-absolute z-index-md-0 h-md-100" data-horizontal-page="track">

			<div class="Horizontal-page__wrapper">
				<header class="vh-100 h-md-100 mt-80px mb-20px min-h-100 Archive-page__header grid-template-columns-md-repeat-7-1fr grid-template-rows-md-repeat-11-1/11 grid-template-columns-repeat-10-1fr grid-auto-rows-1fr grid-template-rows-repeat-10-1fr grid-column-gap-0 grid-row-gap-0 z-index-100 py-md-60vh d-grid woocommerce-products-header">
					<div class="Page__content__title woocommerce-products-header__title page-title grid-area-1/1/3/11 grid-area-md-2/2/4/7">
						{% if show_page_title %}
							<h1 class="text-uppercase">
								{%- if post.meta( 'number' ) -%}
									<span>{{- __( 'Collection N°', 'uni' ) -}}{{- post.meta( 'number' ) -}}</span>
								{%- endif -%}
								{{- post.title -}}
							</h1>
						{% endif %}
					</div>

					<div class="Wysiwyg grid-area-3/1/9/11 grid-area-md-4/3/9/7">
						{{- post.meta( 'long_description' ) ? post.meta( 'long_description' ) : post.content -}}

						{% if post.description %}
							<div class="Page__content__footer">
								{#
								# Hook: woocommerce_archive_description.
								#
								# @hooked woocommerce_taxonomy_archive_description - 10
								# @hooked woocommerce_product_archive_description - 10
								#}
								{%- do action( 'woocommerce_archive_description' ) -%}
							</div>
						{% endif %}
					</div>

				</header>

				{% if product_loop %}

					{#
					 # Hook: woocommerce_before_shop_loop.
					 #
					 # @hooked woocommerce_output_all_notices - 10
					 #}
					{% do action( 'woocommerce_before_shop_loop' ) %}

					{{- fn( 'woocommerce_product_loop_start', false ) -}}

					{% for product in products %}
						{#
						 # Hook: woocommerce_shop_loop.
						 #}
						{% do action( 'woocommerce_shop_loop' ) %}

						{{- include( 'woocommerce/product-content.html.twig' ) -}}
					{% endfor %}

					{{- fn( 'woocommerce_product_loop_end', false ) -}}

					{#
					 # Hook: woocommerce_after_shop_loop.
					 #
					 # @hooked woocommerce_pagination - 10
					 #}
					{% do action( 'woocommerce_after_shop_loop' ) %}
				{% else %}
					{#
					 # Hook: woocommerce_no_products_found.
					 #
					 # @hooked wc_no_products_found - 10
					 #}
					{% do action( 'woocommerce_no_products_found' ) %}
				{% endif %}

			</div>

			{%
				include 'components/heading.html.twig'
				with {
					classes: [ 'color-gray-very-light-02', 'background-color-white' ],
					link: habitat_page.link,
					title: __( 'Discover<br>our habitat', 'uni' )
				}
				only
			%}

			{% include 'components/footer-horizontal.html.twig' %}

		</div>
	</div>

{% endblock  %}
