{#
 # Contact page
 #
 # @package UNI
 # @purgeCSS form error-message
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section position-md-fixed top-md-0 bottom-md-0 start-md-0 w-100 h-md-100" data-horizontal-page="section">
		<div class="Horizontal-page__track d-md-flex flex-md-nowrap top-md-0 bottom-md-0 start-md-0 position-md-absolute z-index-md-0 h-md-100" data-horizontal-page="track">

			<div class="Horizontal-page__wrapper" data-module-wrapper-page>

				<form
					id="contact-block"
					class="Contact-page__content w-md-2400vw grid-template-rows-md-repeat-11-1fr grid-template-columns-md-repeat-12-1fr grid-auto-rows-md-1fr py-md-60vh h-md-100 pt-80px pb-20px d-md-grid grid-column-gap-md-0 grid-row-gap-md-0"
					data-contact-page="form"
				>

					<div class="Page__content__title grid-area-2/2/3/9">
						<h1 class="text-inherit"><span>|&nbsp;U&nbsp;|&nbsp;N&nbsp;|&nbsp;I&nbsp;|</span>{{- post.title -}}</h1>
					</div>

					<div class="Wysiwyg my-1em my-md-0 grid-area-4/3/5/7">{{- post.content -}}</div>

					<div class="align-self-end justify-self-center grid-area-5/2/6/5">
						<p><a href="mailto:contact@uni-habitat.fr">contact@uni-habitat.fr</a></p>
					</div>

					{# <div class=""><p><a href="mailto:contact@uni-objets.fr">contact@uni-objets.fr</a></p></div> #}

					<div class="grid-area-7/2/11/5">
						<p class="Input">
							<label for="email" class="">{{- __( 'Email address', 'uni' ) -}}&nbsp;<abbr class="required" title="obligatoire">*</abbr></label>
							<input id="email" name="email" type="email" value="" autocomplete="email" required>
						</p>
						<p class="Input">
							<label for="interest" class="">{{- _x( 'Are you interested in?', 'contact page', 'uni' ) -}}&nbsp;<abbr class="required" title="obligatoire">*</abbr></label>
							<select id="interest" name="interest" required>
								<option value="habitat">{{- _x( 'Habitat', 'contact page', 'uni' ) -}}</option>
								<option value="object">{{- _x( 'Object', 'contact page', 'uni' ) -}}</option>
							</select>
						</p>
						<p class="Input">
							<label for="subject" class="">{{- _x( 'The subject of your message', 'contact page', 'uni' ) -}}&nbsp;<abbr class="required" title="obligatoire">*</abbr></label>
							<input id="subject" name="subject" type="text" value="" required>
						</p>
					</div>

					<div class="mx-md-auto w-md-600vw grid-area-md-7/5/11/9">
						<p class="Input">
							<label for="you" class="">{{- _x( 'You are?', 'contact page', 'uni' ) -}}&nbsp;<abbr class="required" title="obligatoire">*</abbr></label>
							<select id="you" name="you" required>
								<option value="a-particular">{{- _x( 'A particular', 'contact page', 'uni' ) -}}</option>
								<option value="a-professional">{{- _x( 'A professional', 'contact page', 'uni' ) -}}</option>
								<option value="a-shop">{{- _x( 'A shop', 'contact page', 'uni' ) -}}</option>
								<option value="other">{{- _x( 'Other', 'contact page', 'uni' ) -}}</option>
							</select>
						</p>
						<p class="Input">
							<label for="about-us" class="">{{- _x( 'How did you hear about us?', 'contact page', 'uni' ) -}}</label>
							<textarea id="about-us" name="about-us"></textarea>
						</p>
					</div>

					<div class="grid-area-md-4/9/9/13">
						<p class="Input d-md-flex flex-md-column h-md-100 m-md-0">
							<label for="message" class="">{{- _x( 'Your message', 'contact page', 'uni' ) -}}&nbsp;<abbr class="required" title="obligatoire">*</abbr></label>
							<textarea id="message" class="h-md-100" name="message" required></textarea>
						</p>
					</div>

					<div class="align-self-end grid-area-10/9/10/11">
						<p><button type="submit" class="Button w-100" id="">{{- _x( 'Send', 'contact page', 'uni' ) -}}</button></p>
					</div>

					<div class="align-self-end grid-area-11/2/12/9">
						<p class="Contact-page__mandatory m-md-0">
							{{- _x( 'All fields marked with * are required', 'contact page', 'uni' ) -}}
						</p>
					</div>

				</form>

			</div>

			{% include 'components/footer-horizontal.html.twig' %}

		</div>
	</div>

{% endblock  %}
