{#
 # Contact page
 #
 # @package UNI
 # @purgeCSS Contact-page error-message form
 #}

{% extends 'index.html.twig' %}

{% block content %}

	<div class="mt-100px mx-20px mb-20px mt-md-200vh ms-md-100px relative w-md-100">

		<div class="mx-md-200vw mb-md-200vh mw-md-1200vw">
			{{-
				include(
					'partials/page-title.html.twig',
					{
						classes: [ 'text-center', 'text-md-start' ],
						subtitle: include( 'svg/use.html.twig', { icon: 'logo-horizontal', classes: [ 'w-60px', 'h-20px', 'd-inline-block', 'align-middle' ] }, with_context = false ),
						title: post.title
					}
				)
			-}}

			<div class="Wysiwyg mt-20px">{{- post.content -}}</div>

			<a class="mt-20px text-decoration-underline-hover" href="mailto:contact@uni-habitat.fr">contact@uni-habitat.fr</a>

			<form class="js-contact-page-form transition-opacity mt-20px" data-contact-page="form">


				{# <div class=""><p><a href="mailto:contact@uni-objets.fr">contact@uni-objets.fr</a></p></div> #}

				<div class="flex flex-column gap-y-20px">
					{{-
						include(
							'components/input-text.html.twig',
							{
								key: 'email',
								args: {
									label: __( 'Email address', 'uni' ),
									type: 'email',
									required: true,
									custom_attributes: {
										autocomplete: 'email'
									},
									placeholder: __( 'Enter your email address', 'uni' ),
									class: [ 'w-100' ]
								}
							}
						)
					-}}

					<div class="form-row w-100">
						<label for="interest" class="mb-12px block">
							{{- _x( 'Are you interested in?', 'contact page', 'uni' ) -}}
							&nbsp;<abbr class="required text-decoration-none" title="{{ __( 'required', 'woocommerce' ) | e }}">*</abbr>
						</label>

						<p class="block m-0 relative">
							<select class="p-12px outline-none-focus shadow-focus-focus w-100 border rounded transition-box-shadow" id="interest" name="interest" required>
								<option value="habitat">{{- _x( 'Habitat', 'contact page', 'uni' ) -}}</option>
								<option value="object">{{- _x( 'Object', 'contact page', 'uni' ) -}}</option>
							</select>
						</p>
					</div>

					{{-
						include(
							'components/input-text.html.twig',
							{
								key: 'subject',
								args: {
									class: [ 'mt-20px', 'mt-md-0' ],
									label: _x( 'The subject of your message', 'contact page', 'uni' ),
									required: true,
									class: [ 'w-100' ],
									placeholder: __( 'Enter your subject', 'contact page', 'uni' )
								}
							}
						)
					-}}

					<div class="form-row w-100">
						<label for="you" class="mb-12px block">
							{{- _x( 'You are?', 'contact page', 'uni' ) -}}
							&nbsp;<abbr class="required text-decoration-none" title="{{ __( 'required', 'woocommerce' ) | e }}">*</abbr>
						</label>

						<p class="block m-0 relative">
							<select class="p-12px outline-none-focus shadow-focus-focus w-100 border rounded transition-box-shadow" id="you" name="you" required>
								<option value="a-particular">{{- _x( 'A particular', 'contact page', 'uni' ) -}}</option>
								<option value="a-professional">{{- _x( 'A professional', 'contact page', 'uni' ) -}}</option>
								<option value="a-shop">{{- _x( 'A shop', 'contact page', 'uni' ) -}}</option>
								<option value="other">{{- _x( 'Other', 'contact page', 'uni' ) -}}</option>
							</select>
						</p>
					</div>

					{{-
						include(
							'components/input-textarea.html.twig',
							{
								key: 'about-us',
								args: {
									class: [ 'w-100' ],
									label: _x( 'How did you hear about us?', 'contact page', 'uni' ),
									placeholder: __( 'How did you hear about us', 'uni' )
								}
							}
						)
					-}}


					{{-
						include(
							'components/input-textarea.html.twig',
							{
								key: 'message',
								args: {
									label: _x( 'Your message', 'contact page', 'uni' ),
									required: true,
									placeholder: __( 'Enter your message', 'uni' ),
								},
								class: [ 'w-100' ]
							}
						)
					-}}


					<div class="w-100">
						{{-
							include(
								'components/button.html.twig',
								{ classes: [ 'w-100' ], type: 'submit', label: _x( 'Send', 'contact page', 'uni' ) }
							)
						-}}
					</div>


					<div class="w-100 text-xs m-md-0">
						{{- _x( 'All fields marked with * are required', 'contact page', 'uni' ) -}}
					</div>
				</div>

			</form>
		</div>

		{{- include( 'components/footer-vertical.html.twig' ) -}}

	</div>

{% endblock  %}
