{#
 # Front page
 #
 # @package UNI
 #}

{% extends 'index.html.twig' %}

{% block content %}

	{# {% embed 'components/modal.html.twig' with { attributes: { style: 'opacity: 1; visibility: visible;' }, id: post.id, size: 'small' } %}
		{% block body %}
			<div class="my-20px text-center">

				{{- include( 'svg/use.html.twig', { icon: 'logo-horizontal', classes: [ 'w-120px', 'h-40px', 'block', 'mx-auto' ] }, with_context = false ) -}}

				<div class="my-20px text-center">
					<p>Retrouvez nous pour le SUPER MARCHÉ<br>au Little Atlantique Brewery les 22 et 23 octobre</p>
				</div>

				<div class="my-20px text-center">
					<img width="1080" height="1920" class="w-40 h-auto block mx-auto" src="{{ theme.link }}/{{ manifest['img/jpg/le-super-marche.jpg'] }}" alt="{{ __( 'Le Super Marché', 'uni' ) }}">
				</div>

				<p>Pour suivre toutes nos actualités,<br>inscrivez-vous à la newsletter UNI Habitat.</p>

				<div class="md-flex">
					{{- include( 'partials/signup-form.html.twig', { id: post.id, classes: [ 'me-md-20px', 'flex-grow-1' ] } ) -}}
					{{- include( 'partials/socials.html.twig', { classes: [ 'mt-16px', 'mt-md-12px' ] } ) -}}
				</div>
			</div>
		{% endblock %}
	{% endembed %} #}

	<div class="rounded-md overflow-md-hidden my-md-20px ms-md-100px me-md-20px text-white size-100 relative h-md-auto">
		<div class="px-20px pt-140px pb-64px z-2 mh-100 h-100 flex flex-column py-md-60vh relative" data-front-page="grid">


			<img width="2001" height="186" src="{{ theme.link }}/{{ manifest['img/svg/logo-baseline.svg'] }}" alt="{{ site.description }}" class="hidden md-block w-10/12 mx-auto h-auto">
			<img width="590" height="48" src="{{ theme.link }}/{{ manifest['img/svg/logo-mobile.svg'] }}" alt="{{ site.description }}" class="block md-hidden w-100 h-auto">


			<div
				class="Wysiwyg mt-40px w-4/12 mx-auto hidden text-sm md-block tracking-wider"
				data-front-page="content"
			>
				{{- post.content -}}
			</div>

			<footer class="mt-auto">
				<div class="flex">
					<a class="text-center block w-50" href="{{ shop_url }}">
						{{-
							include(
								'partials/page-title.html.twig',
								 {
									tag: 'p',
									classes: [ 'text-md-4xl', 'text-2xl', 'ff-title', 'font-normal', 'uppercase' ],
									title: __( 'Store', 'uni' ),
									subtitle: _x( 'Explore our:', 'front page', 'uni' ),
								}
							)
						-}}
					</a>

					<a class="text-center block w-50" href="{{ habitat_page.link }}">
						{{-
							include(
								'partials/page-title.html.twig',
								{
									tag: 'p',
									classes: [ 'text-md-4xl', 'text-2xl', 'ff-title', 'font-normal', 'uppercase' ],
									title: __( 'Spaces', 'uni' ),
									subtitle: _x( 'Discover our:', 'front page', 'uni' ),
								}
							)
						-}}
					</a>
				</div>

				{% if post.meta( 'footer' ) %}
					<div class="mt-40px Wysiwyg ff-title italic text-center mx-md-400vw">
						{{- post.meta( 'footer' ) -}}
					</div>
				{% endif %}
			</footer>
		</div>

		<div class="absolute inset-0 z-1">

			<video
				class="inset-0 object-fit-cover object-position-center absolute hidden md-block size-100"
				preload
				muted
				playsinline
				data-front-page="player"
				poster="{{ theme.link }}/{{ manifest['img/jpg/poster-forward.jpg'] }}"
				style="opacity: 1; visibility: visible; z-index: 2"
			>
				<source src="{{ theme.link }}/{{ manifest['videos/front-page-forward.mp4'] }}" type="video/mp4">
			</video>
			<video
				class="inset-0 object-fit-cover object-position-center absolute size-100 hidden md-block"
				preload
				muted
				playsinline
				data-front-page="player"
				poster="{{ theme.link }}/{{ manifest['img/jpg/poster-backward.jpg'] }}"
				style="opacity: 0; visibility: hidden; z-index: 1"
			>
				<source src="{{ theme.link }}/{{ manifest['videos/front-page-backward.mp4'] }}" type="video/mp4">
			</video>

			<video
				class="inset-0 object-fit-cover object-position-center absolute size-100 md-hidden"
				muted
				playsinline
				autoplay
				loop
			>
				<source media="(max-width:991px)" src="{{ theme.link }}/{{ manifest['videos/front-page-mobile.mp4'] }}" type="video/mp4">
			</video>

		</div>
	</div>
{% endblock %}
