{#
 # Front page
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}
	<div class="Site-content">
		<div class="Front-page__grid">
			<div class="Front-page__logo">
				{% include 'svg/use.html.twig' with { classes: [ 'd-none', 'd-md-inline' ], icon: 'logo-baseline' } only %}
				{% include 'svg/use.html.twig' with { classes: [ 'd-md-none' ], icon: 'logo-mobile' } only %}
			</div>
			<div class="Wysiwyg Front-page__content js-content">{{- post.content -}}</div>
			<div><a class="Front-page__link" href="{{ habitat_page }}">Explorer nos :<span>Habitat</span></a></div>
			<div><a class="Front-page__link" href="{{ objects_page }}">Découvrir nos :<span>Objets</span></a></div>
			<div class="Front-page__footer Wysiwyg">
				{{- post.meta( 'footer' ) ? post.meta( 'footer' ) -}}
			</div>
		</div>

		<div class="Front-page__video">
			<video class="js-player" preload="auto" muted>
				<source src="{{ theme.link }}/{{ manifest['videos/front-page.mp4'] }}" type="video/mp4">
			</video>
		</div>
	</div>
{% endblock %}
