{#
 # Front page
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}
	<div class="Site-content h-100 h-md-auto">
		<div class="Front-page__grid js-grid">
			<div class="Front-page__logo">
				<img src="{{ theme.link }}/{{ manifest['img/svg/logo-baseline.svg'] }}" alt="{{ site.description }}" class="d-none d-md-block">
				<img src="{{ theme.link }}/{{ manifest['img/svg/logo-mobile.svg'] }}" alt="{{ site.description }}" class="d-md-none">
			</div>

			<div class="Wysiwyg Front-page__content js-content">{{- post.content -}}</div>
			<div><a class="Front-page__link" href="{{ habitat_page.link }}">{{- _x( 'Explore our:', 'front page', 'uni' ) -}}<span>{{- __( 'Habitat', 'uni' ) -}}</span></a></div>
			<div><a class="Front-page__link" href="{{ objects_page.link }}">{{- _x( 'Discover our:', 'front page', 'uni' ) -}}<span>{{- __( 'Objects', 'uni' ) -}}</span></a></div>
			<div class="Front-page__footer Wysiwyg">
				{{- post.meta( 'footer' ) ? post.meta( 'footer' ) -}}
			</div>
		</div>

		<div class="Front-page__video">
			<video class="d-none d-md-block js-player" preload="auto" muted>
				<source src="{{ theme.link }}/{{ manifest['videos/front-page-forward.mp4'] }}" type="video/mp4">
			</video>
			<video class="js-player is-hidden" preload="auto" muted>
				<source src="{{ theme.link }}/{{ manifest['videos/front-page-backward.mp4'] }}" type="video/mp4">
			</video>

			{% if post.thumbnail %}
				{% include 'partials/image.html.twig' with { image: post.thumbnail, classes: [ 'd-md-none' ] } %}
			{% endif %}
		</div>
	</div>
{% endblock %}
