{#
 # Horizontal page
 #
 # @purgeCSS select2-results__option--highlighted[aria-selected] select2-results__option--highlighted[data-selected] select2-search__field select2 select2-results__option select2-search--dropdown select2-container select2-container select2-selection__rendered select2-container select2-selection--single select2-selection__arrow
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<div
		class="{{
			[
				'md-fixed',
				'm-md-0',
				'mt-100px',
				'mb-20px',
				'px-20px',
				'p-md-0',
				'w-100',
				'h-md-100'
			] | join( ' ' ) | trim
		}}"
		data-horizontal-page="section"
	>
		<div
			class="ps-md-100px pe-md-20px md-flex flex-md-nowrap md-absolute z-md-0 h-md-100"
			data-horizontal-page="track"
		>
			{% block track %}
				<div class="md-flex flex-md-nowrap my-md-20px flex-md-shrink-0" data-module-wrapper-page>
					<div class="js-grid">
						<div
							class="{{ [
								'w-md-1900vw',
								'h-md-100',
								'min-h-100',
								'pt-md-200vh',
								'ps-md-400vw',
								'pe-md-200vw',
								'relative'
							] | join( ' ' ) | trim }}"
						>

							<div class="hidden md-block absolute top-0 end-0 mt-200vh me-200vw">
								{{-
									include(
										'svg/use.html.twig',
										{ classes: [ 'block', 'w-16px', 'h-24px' ], icon: 'arrow-right' },
										with_context = false
									)
								-}}
							</div>

							{{-
								include(
									'partials/page-title.html.twig',
									{
										classes: [ 'text-center', 'text-md-start' ],
										subtitle: post.subtitle,
										title: post.title
									}
								)
							-}}

							<div class="text-center my-20px md-hidden">
								{{-
									include(
										'components/button.html.twig',
										{
											label: __( 'Find out more &plus;', 'uni' ),
											attributes: {
												'data-module-disclosure-button': '',
												'aria-expanded': 'false',
												'aria-controls': 'content,footer'
											}
										}
									)
								-}}
							</div>

							<div class="Wysiwyg my-20px" style="display: none;" id="content">
								{{- post.content -}}
							</div>

							<div class="ff-title italic my-20px" style="display: none;" id="footer">
								{{- post.footer | nl2br -}}
							</div>

							<div class="Wysiwyg hidden md-block mt-20px ps-200vw">
								{{- post.content -}}
							</div>

							<div class="ff-title italic hidden md-block js-footer lh-5 absolute bottom-0 start-0 ms-400vw">
								{{- post.footer | nl2br -}}
							</div>
						</div>
					</div>

					{% if post.meta( 'gallery' ) %}
						<div class="overflow-md-hidden mb-20px ms-md-200vw py-md-60vh bg-white relative md-flex flex-md-nowrap z-2" style="transform: translate3d(0,0,0);">
							{% for image in post.meta( 'gallery' ) %}

								{% set _product = TimberPost( image.id ).meta( 'product_link' ) %}

								<div
									id="image-{{ image.id }}"
									class="h-md-100 md-flex my-md-0 {{ loop.first ? 'mb-20px' : ( loop.last ? 'mt-20px ms-md-200vw' : 'my-20px ms-md-200vw' ) }}"
									data-index="{{ loop.index }}"
									style="{{ loop.first ? 'background-color: transparent;' : '' }}"
								>
									<{{ _product ? "a href=\"#{ _product.link }\"" : 'div' }} class="h-md-100 mx-n20px mx-md-0 block w-md-100"{{ _product ? ' data-product-content="link"' : '' }}>
										{{-
											include(
												'partials/image.html.twig',
												{
													attributes: { 'data-horizontal-page' : 'image' },
													classes: [ 'w-100', 'h-auto', 'w-md-auto', 'h-md-100', 'block' ],
													image: image,
													loading: 'eager',
													size: 'size-1720'
												},
												with_context = false
											)
										-}}
									</{{ _product ? 'a' : 'div' }}>

									{%- if _product %}
										<h5 class="font-normal mt-20px m-md-0 text-xs italic pe-md-20vw writing-mode-md-vertical-rl rotate-md-180 origin-md-center">
											{{- _product.title -}}
										</h5>
									{%- endif -%}
								</div>
							{% endfor %}
						</div>
					{% endif %}

					{{-
						include(
							'components/heading.html.twig',
							{
								classes: [ 'text-gray-dark', 'bg-white' ],
								link: post.meta( 'link' ).url | default( site.link ),
								title: post.meta( 'link' ).title | default( __( 'Discover<br>our online store', 'uni' ) )
							},
							with_context = false
						)
					-}}

				</div>
			{% endblock %}

			{% block footer %}
				{{- include( 'components/footer.html.twig', { vertical: true, classes: [ 'my-md-20px' ] } ) -}}
			{% endblock %}

		</div>
	</div>

{% endblock  %}
