{#
 # Horizontal page
 #
 # @purgeCSS Horizontal-page
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section position-md-fixed top-md-0 bottom-md-0 start-md-0 w-100 h-md-100" data-horizontal-page="section">
		<div class="Horizontal-page__track d-md-flex flex-md-nowrap top-md-0 bottom-md-0 start-md-0 position-md-absolute z-index-md-0 h-md-100" data-horizontal-page="track">

			<div class="Horizontal-page__wrapper"  data-module-wrapper-page>
				<div class="Horizontal-page__grid js-grid">
					<div class="Horizontal-page__grid__inner">
						<div class="Horizontal-page__navigation 		d-flex justify-content-end js-navigation">
							{{- include( 'svg/use.html.twig', { icon: 'arrow-right' }, with_context = false ) -}}
						</div>
						<div class="Page__content__title text-uppercase"><h1>{{- post.subtitle ? "<span>#{ post.subtitle }</span>" -}}{{- post.title -}}</h1></div>
						<div class="Wysiwyg">{{- post.content -}}</div>
						<div class="Page__content__footer js-footer">
							{{- post.footer | nl2br -}}
						</div>
					</div>
				</div>

				{% if post.meta( 'gallery' ) %}
					<div class="overflow-hidden Horizontal-page__gallery position-relative d-md-flex flex-md-nowrap z-index-2">
						{% for image in post.meta( 'gallery' ) %}

							{% set _product = TimberPost( image.id ).meta( 'product_link' ) %}

							<div id="image-{{ image.id }}" class="Horizontal-page__image d-md-flex" data-index="{{ loop.index }}">
								<{{ _product ? "a href=\"#{ _product.link }\"" : 'div' }} class="h-md-100 w-md-100"{{ _product ? ' data-product-content="link"' : '' }}>
									{{-
										include(
											'partials/image.html.twig',
											{
												attributes: { 'data-horizontal-page' : 'image' },
												classes: [ 'w-100', 'h-auto', 'w-md-auto', 'h-md-100', 'd-block' ],
												image: image,
												loading: 'eager'
											},
											with_context = false
										)
									-}}
								</{{ _product ? 'a' : 'div' }}>

								{{- _product ? "<h5>#{ _product.title }</h5>" -}}
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			{%
				include 'components/heading.html.twig'
				with {
					classes: [ 'color-gray-very-light-02', 'background-color-white' ],
					link: post.meta( 'link' ).url | default( site.link ),
					title: post.meta( 'link' ).title | default( __( 'Discover<br>our online store', 'uni' ) )
				}
				only
			%}

			{% include 'components/footer-horizontal.html.twig' %}

		</div>
	</div>

{% endblock  %}
