{#
 # Single: Project
 #
 # @package UNI
 #}

{% extends 'pages/horizontal-page.html.twig' %}

{% block content %}
	{% embed 'components/panel.html.twig' with { id: 'project-information' } %}
		{% block content %}
			<div class="px-md-200vw min-h-100 pt-md-200vh pb-md-60vh h-md-100">

				{{-
					include(
						'partials/page-title.html.twig',
						{
							classes: [ 'text-start' ],
							subtitle: post.get_terms( 'project_cat' ) ? post.get_terms( 'project_cat' ) | map( cat => cat.name ) | join( ', ' ),
							title: post.title
						}
					)
				-}}

				<div class="ps-md-200vw d-md-flex">
					<div class="w-md-800vw mt-20px">
						{% if post.meta( 'project_content' ) %}
							<div class="Wysiwyg">{{- post.meta( 'project_content' ) -}}</div>
						{% endif %}
					</div>

					{% if post.attributes %}
						<div class="ms-md-200vw mt-20px mt-md-0 w-md-800vw">
							{{- include( 'partials/attributes.html.twig', { attributes: post.attributes } ) -}}
						</div>
					{% endif %}
				</div>
			</div>
		{% endblock %}
	{% endembed %}

	{{ parent() }}
{% endblock %}

{% block track %}
	<div class="d-md-flex flex-md-nowrap my-md-20px bg-white flex-md-shrink-0" data-module-wrapper-page>
		<div
			class="{{ [
				'pt-md-200vh',
				'ps-md-200vw',
				'mb-20px',
				'mb-md-0',
				'position-relative',
				'z-index-1',
				'h-md-100',
				'w-md-1000vw'
			] | join( ' ' ) | trim }}"
		>
			<div class="js-title">
				{{-
					include(
						'partials/page-title.html.twig',
						{
							classes: [ 'text-center', 'text-md-start' ],
							subtitle: post.get_terms( 'project_cat' ) ? post.get_terms( 'project_cat' ) | map( cat => cat.name ) | join( ', ' ),
							title: post.title
						},
					)
				-}}

				{% if post.attributes or post.meta( 'project_content' ) %}
					<button
						class="d-none d-md-inline-block mt-8px"
						type="button"
						data-module-panel-button
						data-panel-button-id="project-information"
					>
						&plus;&nbsp;
						<span class="text-decoration-underline">
							{{- __( 'Informations', '' ) -}}
						</span>
					</button>
				{% endif %}
			</div>
		</div>

		{% if post.images is iterable %}
			<ul class="ms-md-n200vw mx-n20px mx-md-0 py-md-60vh list-style-type-none pe-none d-flex flex-column flex-md-row position-relative z-index-2">

				{% for image in post.images %}
					<li class="my-md-0 h-md-100 ms-md-200vw {{ loop.first ? 'mb-20px' : ( loop.last ? 'mt-20px' : 'my-20px' ) }}">
						{{ image.style }}
						{{-
							include(
								'partials/image.html.twig',
								{
									classes: [ 'd-block', 'w-100', 'w-md-auto', 'h-auto', 'h-md-100' ],
									image: image,
									loading: 'eager',
									attributes: {
										'data-horizontal-page': 'image'
									},
									id: image.id,
									size: 'size-1720'
								}
							)
						-}}
					</li>
				{% endfor %}

			</ul>
		{% endif %}


	</div>

	{% if post.meta( 'project_content' ) %}
		<div class="text-center my-20px d-md-none">
			{{-
				include(
					'components/button.html.twig',
					{
						label: __( 'Find out more &plus;', 'uni' ),
						attributes: {
							'data-module-disclosure-button': '',
							'aria-expanded': 'false',
							'aria-controls': 'content,attributtes'
						}
					}
				)
			-}}
		</div>
		<div class="Wysiwyg mt-20px" id="content" style="display: none;">
			{{- post.meta( 'project_content' ) -}}
		</div>
	{% endif %}

	{% if post.attributes %}
		<div class="mt-20px" id="attributtes" style="display: none;">
			{{- include( 'partials/attributes.html.twig', { attributes: post.attributes } ) -}}
		</div>
	{% endif %}

	{% if post.prev %}
		{{- include(
			'components/heading.html.twig',
			{
				classes: [ 'text-gray-dark', 'd-md-none' ],
				link: post.prev.link, title: __( 'Next Project', 'uni' )
			},
			with_context = false
		) -}}
	{% else %}
		{{- include(
			'components/heading.html.twig',
			{
				classes: [ 'flex-md-shrink-0', 'text-gray-dark', 'd-md-none' ],
				link: post.first_project.link, title: __( 'Next Project', 'uni' )
			},
			with_context = false
		) -}}
	{% endif %}

	{%- embed 'partials/page-content.html.twig' with {
			title: projects_settings.title,
			subtitle: projects_settings.subtitle,
			classes: [ 'my-20px', 'w-md-1400vw' ]
		}
	-%}
		{% block content %}
			<div class="Wysiwyg mt-20px ms-md-200vw">
				{{- projects_settings.content -}}
			</div>
		{% endblock %}
	{%- endembed -%}

	{% if post.prev %}
		{{- include(
			'components/heading.html.twig',
			{ classes: [ 'flex-md-shrink-0', 'text-gray-dark', 'd-none', 'd-md-block' ], link: post.prev.link, title: __( 'Next Project', 'uni' )  }, with_context = false
		) -}}
	{% else %}
		{{- include(
			'components/heading.html.twig',
			{ classes: [ 'flex-md-shrink-0', 'text-gray-dark', 'd-none', 'd-md-block' ], link: post.first_project.link, title: __( 'Next Project', 'uni' )  }, with_context = false
		) -}}
	{% endif %}

{% endblock  %}
