{#
 # Single: Product
 #}
{% extends 'pages/horizontal-page.html.twig' %}

{% block content %}

	{% embed 'components/modal.html.twig' with { id: post.id } %}
		{% block body %}
			<p class="mb-0">
				{{- __( 'This item has been added to your basket:', 'uni' ) -}}
			</p>
			<div class="Modal__body">
				<p class="ff-title fst-italic mb-8px">
					{{- post.title -}}
				</p>
				<img class="Modal__thumbnail d-block object-fit-cover object-position-center rounded-5px" src="{{ Image( post.thumbnail ).src }}" alt="{{ Image( post.thumbnail ).alt }}" width="{{ Image( post.thumbnail ).width }}" height="{{ Image( post.thumbnail ).height }}">
				<p class="Modal__product-price d-flex" data-modal="price">
					{{- fn( 'wc_price', post.product.get_price() ) -}}
				</p>
			</div>
			<footer class="Modal__footer d-flex align-items-center flex-row justify-content-between">
				<button type="submit" class="Modal__footer__button letter-spacing-50 d-flex align-items-center text-decoration-underline js-modal-button">
					{%- include 'svg/use.html.twig' with { icon: 'times', classes: [ 'pe-none' ] } only -%}
					{{- __( 'Continue your purchases', 'uni' ) -}}
				</button>
				<a class="Modal__footer__button @extend d-flex align-items-center text-decoration-underline" href="{{ cart_url | e( 'esc_url' ) }}">
					{{- include( 'svg/use.html.twig', { icon: 'cart' }, with_context = false ) -}}
					{{- __( 'Access your basket', 'uni' ) -}}
				</a>
			</footer>
		{% endblock %}
	{% endembed %}

	{{ parent() }}

{% endblock %}

{% block track %}

	<div class="d-md-flex flex-md-nowrap my-md-20px flex-md-shrink-0" data-module-wrapper-page>
		{#
			# Hook: woocommerce_before_single_product.
			#
			# @hooked wc_print_notices - 10
			#}
		{% do action( 'woocommerce_before_single_product' ) %}

		<article
			id="product-{{ post.id }}"
			itemscope
			itemtype="http://schema.org/Product"
			class="Product d-md-flex mb-20px mb-md-0 {{ post.class }}"
		>
			<meta itemprop="url" content="{{ post.link }}" />

			{#
				# Hook: woocommerce_before_single_product_summary.
				#
				# @hooked woocommerce_show_product_sale_flash - 10
				# @hooked woocommerce_show_product_images - 20
				#}
			{% do action( 'woocommerce_before_single_product_summary' ) %}

			<div class="Product-summary min-h-100 mt-20px mt-md-0 pt-md-200vh pb-md-60vh summary entry-summary h-md-100 w-md-1600vw">
				{#
					# Hook: woocommerce_single_product_summary.
					#
					# @hooked WC_Structured_Data::generate_product_data() - 60
					#}
				{% do action( 'woocommerce_single_product_summary' ) %}

				{{-
					include(
						'partials/page-title.html.twig',
						{
							classes: [ 'text-center', 'text-md-start' ],
							subtitle: post.terms( 'product_cat' ) | map( c => "<a href=\"#{c.link}\">#{c.name}</a>" ) | join( ', ' ),
							title: post.title
						}
					)
				-}}

				<div class="ps-md-200vw d-md-flex">

					<div class="w-md-600vw mt-20px">
						<div class="Wysiwyg">
							{#
								# Hook: woocommerce_single_product_content
								#
								# @hooked UNI\Plugins\WooCommerce::template_single_product_content - 20
								#}
							{% do action( 'woocommerce_single_product_content' ) %}

							{{- post.terms( 'product_cat' ) | map( c => "<p class=\"ff-title mt-20px fst-italic\">#{c.description}</p>" ) | join( ', ' ) -}}
						</div>

						<div class="mt-20px d-md-flex gap-md-20px flex-md-wrap">
							{#
							# Hook: woocommerce_single_product_price
							#
							#
							#}
							{% do action( 'woocommerce_single_product_price' ) %}

							{#
							# Hook: woocommerce_single_product_meta
							#
							# @hooked UNI\Plugins\WooCommerce::template_product_variations - 15
							# @hooked woocommerce_template_single_meta 40
							#}
							{% do action( 'woocommerce_single_product_meta' ) %}

							{#
							# Hook: woocommerce_single_product_add_to_cart
							#
							# @hooked woocommerce_template_single_add_to_cart - 30
							#}
							{% do action( 'woocommerce_single_product_add_to_cart' ) %}
						</div>
					</div>

					{% if post.attributes %}
						<div class="ms-md-200vw mt-20px mt-md-0 w-md-600vw">
							{{- include( 'partials/attributes.html.twig', { attributes: post.attributes } ) -}}
						</div>
					{% endif %}
				</div>

			</div>

			{#
				# Hook: woocommerce_after_single_product_summary.
				#
				# @hooked woocommerce_upsell_display - 15
			#}
			{% do action( 'woocommerce_after_single_product_summary' ) %}

		</article>


		{% if post.related_products %}
			{{-
				include(
					'components/heading.html.twig',
					{
						title: __( 'In the same collection', 'uni' ) | apply_filters( 'woocommerce_product_related_products_heading' )
					},
					with_context = false
				)
			-}}

			{{- include( 'woocommerce/loop/loop-start.html.twig', { classes: [ 'related' ], columns: loop_columns } ) -}}
				{% for product in post.related_products %}
					{{- include( 'woocommerce/product-content.html.twig' ) -}}
				{% endfor %}
			{{- include( 'woocommerce/loop/loop-end.html.twig' ) -}}
		{% endif %}

		{%- embed 'partials/page-content.html.twig' with {
				title: post.terms( 'product_cat' )[0].name,
				subtitle: post.terms( 'product_cat' )[0].meta( 'number' ) ? __( 'Collection N°%s', 'uni' ) | format( post.terms( 'product_cat' )[0].meta( 'number' ) ) : '',
				classes: [ 'mt-20px', 'my-md-0', 'w-md-1400vw' ]
			}
		-%}
			{% block content %}
				<div class="Wysiwyg mt-20px ms-md-200vw">
					{{- post.terms( 'product_cat' )[0].long_description -}}
				</div>
			{% endblock %}
		{%- endembed -%}

		{{-
			include(
				'components/heading.html.twig',
				{
					classes: [ 'flex-md-shrink-0', 'text-gray-dark' ],
					link: shop_url,
					title: __( 'Return to shop', 'uni' )
				},
				with_context = fase
			)
		-}}
	</div>

	{#
	 # Hook: woocommerce_after_single_product
	 #}
	{% do action( 'woocommerce_after_single_product' ) %}

{% endblock  %}
