{% extends 'index.html.twig' %}

{% block content %}

	<div class="vs-section">
		<div class="vs-track">

			{% do action('woocommerce_before_single_product') %}

			<article id="product-{{ post.id }}" itemscope itemtype="http://schema.org/Product" class="Product {{ post.class }}">
				<meta itemprop="url" content="{{ post.link }}" />

				{% do action( 'woocommerce_before_single_product_summary' ) %}

				<div class="Product__summary summary entry-summary">
					<div class="Product__summary__grid">

						<div class="Product__header">
							{{ post.terms( 'product_cat' ) | map( c => "<a href=\"#{c.link}\">#{c.name}</a>") | join( ', ' ) }}
							<h1 class="Product__title product_title entry-title margin-0">
								{{- post.title -}}
							</h1>
						</div>

						<div class="Product__short-description woocommerce-product-details__short-description">
							{{- post.post_excerpt | nl2br -}}
							{{- post.terms( 'product_cat' ) | map( c => "<div class=\"Product__category-description\"><span>#{c.name}</span><br>#{c.description}</div>" ) | join( ', ' ) -}}
						</div>

						<div>
							<ul class="Product__attributes">
								{% for attribute in post.attributes %}
									<li>
										<div class="Product__attributes__name">{{- attribute.get_name() -}}</div>
										<div class="Product__attributes__options">{{- attribute.get_options() | join( ' ' ) | replace( { 'mm' : '<span>mm</span>' } ) -}}</div>
									</li>
								{% endfor %}
							</ul>
						</div>

						<div class="product_meta">
							{% do action( 'woocommerce_product_meta_start' ) %}
							{% do action( 'woocommerce_product_meta_end' ) %}
						</div>

						<div>
							{% include 'woo/single-product/add-to-cart/simple.html.twig' %}
						</div>

					</div>

				</div>

				{% do action( 'woocommerce_after_single_product_summary' ) %}

			</article>

			{% do action( 'woocommerce_after_single_product' ) %}

			{% include 'partials/tease-product.html.twig' with { products: post.related_products } %}

			<footer class="Site-footer">
				<div class="Site-footer__grid">
					<div>
						<ul class="Site-footer__items">
							<li class="Site-footer__item"><h5>{{- pll__( 'Navigation' ) -}}</h5></li>
							<li class="Site-footer__item"><a href="">Philosophie</a></li>
							<li class="Site-footer__item"><a href="">Habitat</a></li>
							<li class="Site-footer__item"><a href="">Archives</a></li>
							<li class="Site-footer__item"><a href="">Objets</a></li>
							<li class="Site-footer__item"><a href="">Boutique</a></li>
							<li class="Site-footer__item"><a href="">À propos</a></li>
						</ul>
					</div>
					<div>
						<ul class="Site-footer__items">
							<li class="Site-footer__item"><h5>{{- pll__( 'Informations' ) -}}</h5></li>
							<li class="Site-footer__item"><a href="">Livraisons & retours</a></li>
							<li class="Site-footer__item"><a href="">CGV</a></li>
							<li class="Site-footer__item"><a href="">Mentions légales</a></li>
							<li class="Site-footer__item"><a href="">Politique de confidentialité</a></li>
						</ul>
					</div>
					<div>
						<ul class="Site-footer__items">
							<li class="Site-footer__item"><h5>{{- pll__( 'Téléchargements' ) -}}</h5></li>
							<li class="Site-footer__item"><a href="">PressKit Habitat</a></li>
							<li class="Site-footer__item"><a href="">PressKit Objets</a></li>
							<li class="Site-footer__item"><a href="">PressKit Global</a></li>
						</ul>
					</div>
					<div>
						<ul class="Site-footer__items">
							<li class="Site-footer__item"><h5>{{- pll__( 'Suivez- nous' ) -}}</h5></li>
							<li class="Site-footer__item"><a href="">Instagram</a></li>
							<li class="Site-footer__item"><a href="">Facebook</a></li>
						</ul>
					</div>
					<div></div>
					<div></div>
				</div>
			</footer>
		</div>
	</div>


{% endblock  %}
