{#
 # Checkout shipping information form
 #
 #}

<div class="woocommerce-additional-fields">
	{#
	 # Hook: woocommerce_before_order_notes.
	 #}
	{% do action( 'woocommerce_before_order_notes', checkout ) %}

	{% if 'yes' is same as( enable_order_comments | apply_filters( 'woocommerce_enable_order_notes_field' ) ) %}

		{% if not cart.needs_shipping() or ship_to_billing_address_only %}
			<h3>{{- __( 'Additional information', 'uni' ) -}}</h3>
		{% endif %}

		<div class="row gap-y-20px woocommerce-additional-fields__field-wrapper">
			{% for key, field in checkout.get_checkout_fields( 'order' ) %}
				{% if  field.type in [ 'text', 'password', 'datetime', 'datetime-local', 'date', 'month', 'time', 'week', 'number', 'email', 'url', 'tel', null ] %}
					{{- include( 'components/input-text.html.twig', { key: key, args: field, value: checkout.get_value( key ) } ) -}}
				{% elseif 'country' == field.type  %}
					{{- include( 'components/input-country.html.twig', { key: key, args: field, value: checkout.get_value( key ) } ) -}}
				{% elseif 'textarea' == field.type  %}
					{{- include( 'components/input-textarea.html.twig', { key: key, args: field, value: checkout.get_value( key ) } ) -}}
				{% else %}
					{{- fn( 'woocommerce_form_field', key, field, checkout.get_value( key ) ) -}}
				{% endif %}
			{% endfor %}
		</div>

	{% endif %}

	{#
	 # Hook: woocommerce_after_order_notes.
	 #}
	{% do action( 'woocommerce_after_order_notes', checkout ) %}
</div>

<div class="woocommerce-shipping-fields mt-20px">

	{% if cart.needs_shipping_address() %}

		<p class="Checkbox" id="ship-to-different-address">
			<label class="d-flex align-items-center woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
				<input
					id="ship-to-different-address-checkbox"
					class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox"
					{{ fn( 'checked', 'shipping' is same as( ship_to_destination | apply_filters( 'woocommerce_ship_to_different_address_checked' ) ) ? 1 : 0, false ) }}
					type="checkbox"
					name="ship_to_different_address"
					value="1"
				/>&nbsp;<span>{{- __( 'Ship to a different address?', 'uni' ) -}}</span>
			</label>
		</p>

		<div class="shipping_address">
			{#
			 # Hook: woocommerce_before_checkout_shipping_form.
			 #
			 #}
			{% do action( 'woocommerce_before_checkout_shipping_form', checkout ) %}

			<div class="row gap-y-20px woocommerce-shipping-fields__field-wrapper">
				{% for key, field in checkout.get_checkout_fields( 'shipping' ) %}
					{% if  field.type in [ 'text', 'password', 'datetime', 'datetime-local', 'date', 'month', 'time', 'week', 'number', 'email', 'url', 'tel', null ] %}
						{{- include( 'components/input-text.html.twig', { key: key, args: field, value: checkout.get_value( key ) } ) -}}
					{% elseif 'country' == field.type  %}
						{{- include( 'components/input-country.html.twig', { key: key, args: field, value: checkout.get_value( key ) } ) -}}
					{% elseif 'textarea' == field.type  %}
						{{- include( 'components/input-textarea.html.twig', { key: key, args: field, value: checkout.get_value( key ) } ) -}}
					{% else %}
						{{- fn( 'woocommerce_form_field', key, field, checkout.get_value( key ) ) -}}
					{% endif %}
				{% endfor %}
			</div>
			{#
			 # Hook: woocommerce_after_checkout_shipping_form.
			 #
			 #}
			{% do action( 'woocommerce_after_checkout_shipping_form', checkout ) %}

		</div>
	{% endif %}
</div>
