{#
 # Payment method
 #
 #}
<li class="py-12px border-bottom wc_payment_method payment_method_{{ gateway.id }}">

	<div class="flex justify-content-between align-items-center">
		<input
			id="payment_method_{{ gateway.id }}"
			type="radio" class="input-radio"
			name="payment_method" value="{{ gateway.id }}"
			{{ fn( 'checked', gateway.chosen, false ) -}}
			{{ gateway.order_button_text ? "data-order_button_text=\"#{ gateway.order_button_text }\"" | raw }}
		/>

		<label class="flex align-items-center flex-column" for="payment_method_{{ gateway.id }}">
			{{- gateway.get_title() }}&nbsp;{{ gateway.get_icon() -}}
		</label>
	</div>

	{% if gateway.has_fields() or gateway.get_description() %}
		<div class="mt-20px payment_box payment_method_{{ gateway.id }}"{{ gateway.chosen ?: " style=\"display:none;\"" }}>
			{{- gateway.payment_fields() -}}
		</div>
	{% endif %}
</li>
