{#
 # Review order table
 #}
<div class="shop_table woocommerce-checkout-review-order-table">

	<div class="row">
		<div class="product-name col-7 fw-bold">
			{{- __( 'Product', 'uni' ) -}}
		</div>
		<div class="product-total col-7 d-flex justify-content-end">
			{{- __( 'Subtotal', 'uni' ) -}}
		</div>
		<div class="mt-12px"><hr></div>
	</div>


	{#
	 # Hook: woocommerce_review_order_before_cart_contents.
	 #}
	{% do action( 'woocommerce_review_order_before_cart_contents' ) %}


	{% if cart.get_cart() %}
		{% for key, item in cart.get_cart() %}
			{% set _product = item.data | apply_filters( 'woocommerce_cart_item_product', item, key ) %}

			{% if _product and _product.exists() and item.quantity > 0 and true | apply_filters( 'woocommerce_checkout_cart_item_visible', item, key ) %}
				<div class="row mt-12px {{ 'cart_item' | apply_filters( 'woocommerce_cart_item_class', item, key ) }}">
					<div class="col-7 product-name">

						{% filter apply_filters( 'woocommerce_cart_item_name', item, key ) %}
							{{- _product.get_name() }}&nbsp;
						{% endfilter %}

						{% filter apply_filters( 'woocommerce_checkout_cart_item_quantity', tag, item, key ) %}
							<strong class="product-quantity">{{- '&times;&nbsp;%s' | format( item.quantity ) -}}</strong>
						{% endfilter %}

						{{- fn( 'wc_get_formatted_cart_item_data', item ) -}}
					</div>
					<div class="col-7 product-total d-flex justify-content-end">
						{% filter apply_filters( 'woocommerce_cart_item_subtotal', item, key ) %}
							{{- cart.get_product_subtotal( _product, item.quantity )  -}}
						{% endfilter %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
		<div class="row"><div class="mt-12px"><hr></div></div>
	{% endif %}

	{#
	 # Hook: woocommerce_review_order_after_cart_contents.
	 #}
	{% do action( 'woocommerce_review_order_after_cart_contents' ) %}

	<div class="cart-subtotal row mt-20px">
		<div class="col-7 fw-bold">{{- __( 'Subtotal', 'uni' ) -}}</div>
		<div class="col-7 d-flex justify-content-end">
			{{- html.subtotal -}}
		</div>
		<div class="mt-12px"><hr></div>
	</div>

	{% for code, coupon in cart.get_coupons() %}
		<tr class="cart-discount coupon-{{ code | sanitize }}">
			<th>{{- fn( 'wc_cart_totals_coupon_label', coupon ) -}}</th>
			<td>{{- fn( 'wc_cart_totals_coupon_html', coupon ) -}}</td>
		</tr>
	{% endfor %}

	{% if cart.needs_shipping() and cart.show_shipping() %}
		{#
		 # Hook: woocommerce_review_order_before_shipping.
		 #}
		{% do action( 'woocommerce_review_order_before_shipping' ) %}

		{{- html.shipping -}}

		{#
		 # Hook: woocommerce_review_order_after_shipping.
		 #}
		{% do action( 'woocommerce_review_order_after_shipping' ) %}

	{% endif %}

	{% for fee in cart.get_fees() %}
		<tr class="fee">
			<th>{{- fee.name -}}</th>
			<td>{{- fn( 'wc_cart_totals_fee_html', fee ) -}}</td>
		</tr>
	{% endfor %}

	{% if tax_enabled and not cart.display_prices_including_tax() %}
		{% if 'itemized' is same as( tax_total_display ) %}
			{% for code, tax in cart.get_tax_totals() %}
				<tr class="tax-rate tax-rate-{{ code | sanitize }}">
					<th>{{- tax.label -}}</th>
					<td>{{- tax.formatted_amount -}}</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr class="tax-total">
				<th>{{- countries.tax_or_vat() -}}</th>
				<td>{{- html.taxes_total -}}</td>
			</tr>
		{% endif %}
	{% endif %}

	{#
	 # Hook: woocommerce_review_order_before_order_total.
	 #}
	{% do action( 'woocommerce_review_order_before_order_total' ) %}

	<div class="order-total row mt-20px">
		<div class="col-7 fw-bold">{{- __( 'Total', 'uni' ) -}}</div>
		<div class="col-7 d-flex justify-content-end">
			{{- html.order_total -}}
		</div>
		<div class="mt-12px"><hr></div>
	</div>

	{#
	 # Hook: woocommerce_review_order_after_order_total.
	 #}
	{% do action( 'woocommerce_review_order_after_order_total' ) %}

</div>
