{#
 #
 # Thank you
 #
 #}
{% block content %}

	<div class="woocommerce-order">

		{% if order %}
			{#
			 # Hook: woocommerce_before_thankyou.
			 #}
			{% do action( 'woocommerce_before_thankyou', order.get_id() ) %}

			{% if order.has_status( 'failed' ) %}
				<p class="woocommerce-notice woocommerce-notice--error woocommerce-thankyou-order-failed">
					{{- _x( 'Unfortunately your order cannot be processed as the originating bank/merchant has declined your transaction. Please attempt your purchase again.', 'thankyou', 'uni' ) -}}
				</p>

				<p class="woocommerce-notice woocommerce-notice--error woocommerce-thankyou-order-failed-actions">
					<a href="{{ order.get_checkout_payment_url() -}}" class="Button button pay">
						{{- _x( 'Pay', 'thankyou', 'uni' ) -}}
					</a>

					{% if user %}
						<a href="{{ myaccount_url | e( 'esc_url' ) }}" class="Button button pay">
							{{- _x( 'My account', 'thankyou', 'uni' ) -}}
						</a>
					{% endif %}

				</p>
			{% else %}
				<p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">
					{% filter apply_filters( 'woocommerce_thankyou_order_received_text', order ) %}
						{{- _x( 'Thank you. Your order has been received.', 'thankyou', 'uni' ) -}}
					{% endfilter %}
				</p>

				<ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">

					{# order #}
					<li class="woocommerce-order-overview__order order">
						{{- _x( 'Order number:', 'thankyou', 'uni' ) -}}
						<strong>{{- order.get_order_number() -}}</strong>
					</li>

					{# date #}
					<li class="woocommerce-order-overview__date date">
						{{- _x( 'Date:', 'thankyou', 'uni' ) -}}
						<strong>{{- order_date_created -}}</strong>
					</li>

					{# email #}
					{% if user and order.get_user_id() is same as( user.id ) and order.get_billing_email() %}
						<li class="woocommerce-order-overview__email email">
							{{- _x( 'Email:', 'thankyou', 'thankyou', 'uni' ) -}}
							<strong>{{- order.get_billing_email() -}}</strong>
						</li>
					{% endif %}

					{# total #}
					<li class="woocommerce-order-overview__total total">
						{{- _x( 'Total:', 'thankyou', 'uni' ) -}}
						<strong>{{- order.get_formatted_order_total() -}}</strong>
					</li>

					{# payment method #}
					{% if order.get_payment_method_title() %}
						<li class="woocommerce-order-overview__payment-method method">
							{{- _x( 'Payment method:', 'thankyou', 'uni' ) -}}
							<strong>{{- order.get_payment_method_title() -}}</strong>
						</li>
					{% endif %}

				</ul>
			{% endif %}

			{#
			 #
			 #}
			{% do action( 'woocommerce_thankyou_' . order.get_payment_method(), order.get_id() ) %}

			{#
			 # Hook: woocommerce_thankyou.
			 #
			 # @hooked: woocommerce_order_details_table - 10
			 #}
			{% do action( 'woocommerce_thankyou', order.get_id() ) %}

		{% else %}
			<p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">
				{% filter apply_filters( 'woocommerce_thankyou_order_received_text', null )  %}
					{{- __( 'Thank you. Your order has been received.', 'thankyou', 'uni' ) -}}
				{% endfilter %}
			</p>
		{% endif %}

	</div>

{% endblock %}
