{% extends 'index.html.twig' %}

{% block content %}

	<div class="vs-section">
		<div class="vs-track">

			{% do action('woocommerce_before_single_product') %}

			<article itemscope itemtype="http://schema.org/Product" class="Single-product__details single-product-details {{ post.class }}">

				<div class="entry-images">
					{% do action( 'woocommerce_before_single_product_summary' ) %}

					<img src="{{ post.thumbnail.src( 'shop_single' ) }}" />
				</div>

				<div class="summary entry-summary">
					{% do action( 'woocommerce_single_product_summary' ) %}
				</div>

				{% do action( 'woocommerce_after_single_product_summary' ) %}

				<meta itemprop="url" content="{{ post.link }}" />

			</article>

			{% include 'partials/tease-product.html.twig' with { products: related_products } %}

			{% do action( 'woocommerce_after_single_product' ) %}

			<footer class="Site-footer">
				<div class="Site-footer__grid">
					<div>
						<ul class="Site-footer__items">
							<li class="Site-footer__item"><h5>{{- pll__( 'Navigation' ) -}}</h5></li>
							<li class="Site-footer__item"><a href="">Philosophie</a></li>
							<li class="Site-footer__item"><a href="">Habitat</a></li>
							<li class="Site-footer__item"><a href="">Archives</a></li>
							<li class="Site-footer__item"><a href="">Objets</a></li>
							<li class="Site-footer__item"><a href="">Boutique</a></li>
							<li class="Site-footer__item"><a href="">À propos</a></li>
						</ul>
					</div>
					<div>
						<ul class="Site-footer__items">
							<li class="Site-footer__item"><h5>{{- pll__( 'Informations' ) -}}</h5></li>
							<li class="Site-footer__item"><a href="">Livraisons & retours</a></li>
							<li class="Site-footer__item"><a href="">CGV</a></li>
							<li class="Site-footer__item"><a href="">Mentions légales</a></li>
							<li class="Site-footer__item"><a href="">Politique de confidentialité</a></li>
						</ul>
					</div>
					<div>
						<ul class="Site-footer__items">
							<li class="Site-footer__item"><h5>{{- pll__( 'Téléchargements' ) -}}</h5></li>
							<li class="Site-footer__item"><a href="">PressKit Habitat</a></li>
							<li class="Site-footer__item"><a href="">PressKit Objets</a></li>
							<li class="Site-footer__item"><a href="">PressKit Global</a></li>
						</ul>
					</div>
					<div>
						<ul class="Site-footer__items">
							<li class="Site-footer__item"><h5>{{- pll__( 'Suivez- nous' ) -}}</h5></li>
							<li class="Site-footer__item"><a href="">Instagram</a></li>
							<li class="Site-footer__item"><a href="">Facebook</a></li>
						</ul>
					</div>
					<div></div>
					<div></div>
				</div>
			</footer>
		</div>
	</div>


{% endblock  %}
