{#
 # Footer
 #}
{% macro list( items, title ) %}
	{% if items is iterable %}
		<ul class="list-style-type-none" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<li class="Site-footer__item">
				<h5 class="font-family-body">{{- title -}}</h5>
			</li>
			{% for item in items %}
				<li class="Site-footer__item {{ item.current ? ' is-active' }}">
					<a class="d-inline-block font-family-title" href="{{ item.url }}" itemprop="url"{{ item.target ? " target=\"#{item.target}\"" }}>
						{{- item.title -}}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
